Portfolio Pension Expert - Route Recommendations (7).json
{
  "name": "Portfolio Pension Expert - Route Recommendations",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pension-expert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7d990b00-fb1d-4626-ac70-caff2249e1df",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        10304
      ],
      "webhookId": "pension-expert-webhook"
    },
    {
      "parameters": {
        "jsCode": "const BLACKLIST = [' 驻转', '驻'];\n\n  const PRODUCT_CODES = {\n    PENSION: [1, 2, 19],\n    GEMEL: [3, 5, 6],\n    GEMEL_INVEST: [4],\n    HISHTALMUT: [7],\n    SAVINGS: [41],\n    INSURANCE: [13, 14, 15]\n  };\n\n  const GEMELNET_RESOURCE = 'a30dcbea-a1d2-482c-ae29-8f781f5025fb';       \n  const PENSIANET_RESOURCE = '6d47d6b5-cb08-488b-b333-f1e717b1e1bd';      \n  const BITUACHNET_RESOURCE = 'c6c62cc7-fe02-4b18-8f3e-813abfbb4647';     \n  const DATA_GOV_BASE = 'https://data.gov.il/api/3/action/datastore_search';\n\n  function getProductTypeName(code) {\n    const types = {\n      1: '拽专 驻住', 2: '拽专 驻住', 19: '拽专 驻住',\n      3: '拽驻转 ', 4: ' 砖拽注', 5: '拽驻转 ', 6: '拽驻转 ',       \n      7: '拽专 砖转转',\n      13: ' ', 14: ' ', 15: ' ',\n      41: '驻住转 住'\n    };\n    return types[code] || ' 注';\n  }\n\n  function getProductCategory(code) {\n    if (PRODUCT_CODES.PENSION.includes(code)) return 'pension';\n    if (PRODUCT_CODES.GEMEL.includes(code)) return 'gemel';\n    if (PRODUCT_CODES.GEMEL_INVEST.includes(code)) return 'gemel_invest'; \n    if (PRODUCT_CODES.HISHTALMUT.includes(code)) return 'hishtalmut';     \n    if (PRODUCT_CODES.SAVINGS.includes(code)) return 'savings';\n    if (PRODUCT_CODES.INSURANCE.includes(code)) return 'insurance';       \n    return 'other';\n  }\n\n  function getProductBadgeClass(code) {\n    if (PRODUCT_CODES.PENSION.includes(code)) return 'badge-pension';     \n    if (PRODUCT_CODES.HISHTALMUT.includes(code)) return 'badge-hishtalmut';\n    if (PRODUCT_CODES.GEMEL.includes(code) || PRODUCT_CODES.GEMEL_INVEST.includes(code)) return 'badge-gemel';\n    if (PRODUCT_CODES.INSURANCE.includes(code)) return 'badge-insurance'; \n    if (PRODUCT_CODES.SAVINGS.includes(code)) return 'badge-savings';     \n    return '';\n  }\n\n  function getStatusInfo(product) {\n    const status = product.status || product.maamad?.status;\n    if (!status) return { code: 0, description: ' 注' };\n    return { code: status.code || 0, description: status.description || (status.code === 1 ? '驻注' : ' 驻注') };\n  }\n\n  function getEmploymentStatus(code) {\n    return code === 1 ? '砖专' : '注爪';\n  }\n\n  function needsGemelNet(typeCode) {\n    return PRODUCT_CODES.GEMEL.includes(typeCode) || PRODUCT_CODES.GEMEL_INVEST.includes(typeCode) || PRODUCT_CODES.HISHTALMUT.includes(typeCode);  \n  }\n\n  function needsPensionNet(typeCode) {\n    return PRODUCT_CODES.PENSION.includes(typeCode);\n  }\n\n  function needsBituachNet(typeCode) {\n    return PRODUCT_CODES.SAVINGS.includes(typeCode);\n  }\n\n  // 住 驻住- (拽驻/转)\n  function getPensionClassification(productTypeCode) {\n    if (productTypeCode === 1) return '拽专转 砖转';\n    if (productTypeCode === 19) return '拽专转 转';\n    return null;\n  }\n\n  // 住 -\n  function getFundClassification(productTypeCode) {\n    if (productTypeCode === 7) return '拽专转 砖转转';\n    if (productTypeCode === 4) return '拽驻转  砖拽注';\n    if ([3, 5, 6].includes(productTypeCode)) return '转 砖转 驻爪';\n    return null;\n  }\n\n  // URL 驻 .驻 专 + 住\n  function buildGemelNetUrl(companyIdNumber, productTypeCode) {\n    const classification = getFundClassification(productTypeCode);        \n    const filters = { MANAGING_CORPORATION_LEGAL_ID: Number(companyIdNumber) };\n    if (classification) {\n      filters.FUND_CLASSIFICATION = classification;\n    }\n    return DATA_GOV_BASE + '?resource_id=' + GEMELNET_RESOURCE + '&filters=' + encodeURIComponent(JSON.stringify(filters)) + '&sort=REPORT_PERIOD%20desc&limit=100';\n  }\n\n  function buildPensionNetUrl(companyIdNumber, productTypeCode) {\n    const classification = getPensionClassification(productTypeCode);\n    const filters = { MANAGING_CORPORATION_LEGAL_ID: Number(companyIdNumber) };\n    if (classification) {\n      filters.FUND_CLASSIFICATION = classification;\n    }\n    return DATA_GOV_BASE + '?resource_id=' + PENSIANET_RESOURCE + '&filters=' + encodeURIComponent(JSON.stringify(filters)) + '&sort=REPORT_PERIOD%20desc&limit=100';\n  }\n\n  //  砖专 驻 FUND_ID\n  function buildBituachNetUrl(trackCode) {\n    const filters = { FUND_ID: Number(trackCode) };\n    return DATA_GOV_BASE + '?resource_id=' + BITUACHNET_RESOURCE + '&filters=' + encodeURIComponent(JSON.stringify(filters)) + '&sort=REPORT_PERIOD%20desc&limit=1';\n  }\n\n  function daysDiff(dateStr) {\n    if (!dateStr) return 999;\n    const date = new Date(dateStr);\n    const currentDate = new Date();\n    return Math.floor((currentDate - date) / (1000 * 60 * 60 * 24));      \n  }\n\n  const inputData = $input.first().json;\n  const shuranceData = inputData.body || inputData;\n  const products = shuranceData.body?.products || shuranceData.products || [];\n\n  const portfolioItems = [];\n  const criticalAlerts = [];\n  const productTypesSet = new Set();\n  const gemelApiCalls = [];\n  const pensionApiCalls = [];\n  const bituachApiCalls = [];\n\n  // 拽抓 驻 .驻 + 住 爪专\n  const processedGemelKeys = new Set();\n  const processedPensionKeys = new Set();\n  const processedBituachTracks = new Set();\n\n  // Calculate age from birthDate\n  function calculateAge(birthDate) {\n    if (!birthDate) return null;\n    const birth = new Date(birthDate);\n    const today = new Date();\n    let age = today.getFullYear() - birth.getFullYear();\n    const monthDiff = today.getMonth() - birth.getMonth();\n    if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birth.getDate())) {\n      age--;\n    }\n    return age;\n  }\n\n  // Customer info comes directly from the HTTP request (from Get Customer node)\n  const birthDate = shuranceData.birthDate || null;\n  const calculatedAge = calculateAge(birthDate);\n\n  const customerInfo = {\n    customerName: shuranceData.customerName || '拽',\n    customerId: shuranceData.idNumber || null,\n    age: calculatedAge,\n    birthDate: birthDate,\n    employmentStatus: null,\n    address: shuranceData.address || '',\n    phone: shuranceData.phone || '',\n    email: shuranceData.email || ''\n  };\n\n  for (const product of products) {\n    const productTypeCode = product.type?.code;\n    const productType = getProductTypeName(productTypeCode);\n    const productCategory = getProductCategory(productTypeCode);\n    const badgeClass = getProductBadgeClass(productTypeCode);\n    const statusInfo = getStatusInfo(product);\n    const employmentStatus = getEmploymentStatus(product.maamad?.code);   \n    const companyName = product.companyName || '';\n    const companyId = product.companyId || 0;\n    const companyIdNumber = product.companyIdNumber || 0;\n    const fundCode = product.misparMemHei || null;\n\n    if (productTypeCode) productTypesSet.add(productTypeCode);\n    if (!customerInfo.employmentStatus) customerInfo.employmentStatus = employmentStatus;\n\n    if (PRODUCT_CODES.PENSION.includes(productTypeCode) && statusInfo.code === 2) {\n      criticalAlerts.push({\n        severity: 'CRITICAL', type: 'RISK_STATUS',\n        productName: product.shemTohnit || productType,\n        productNumber: product.accountPolicyNumber || '',\n        message: ' 拽专 驻住 \"' + (product.shemTohnit || productType) +\n '\" 爪 专住拽 !',\n        action: '专砖 驻  - 拽  注住拽'\n      });\n    }\n\n    if (employmentStatus === '砖专' && PRODUCT_CODES.PENSION.includes(productTypeCode)) {\n      const lastDeposit = product.lastDeposit?.hafkadot?.[0];\n      if (lastDeposit && lastDeposit.taarihEreh) {\n        const daysGap = daysDiff(lastDeposit.taarihEreh);\n        if (daysGap >= 60) {\n          criticalAlerts.push({\n            severity: 'HIGH', type: 'MISSING_DEPOSITS',\n            productName: product.shemTohnit || productType,\n            productNumber: product.accountPolicyNumber || '',\n            lastDeposit: lastDeposit.taarihEreh, daysGap: daysGap,        \n            message: '锔  转拽 驻拽 -\"' + (product.shemTohnit || prooductType) + '\"  ' + lastDeposit.taarihEreh + ' (' + daysGap + ' )',\n            action: '砖 拽  注住拽'\n          });\n        }\n      }\n    }\n\n    if (product.masluleiAshkaa && product.masluleiAshkaa.length > 0) {    \n      for (const maslul of product.masluleiAshkaa) {\n        const trackCode = maslul.code;\n        const trackKey = String(trackCode);\n\n        portfolioItems.push({\n          fundCode, trackCode, productTypeCode, productType, productCategory,\n          productBadgeClass: badgeClass,\n          productName: product.shemTohnit || productType,\n          productNumber: product.accountPolicyNumber || '',\n          companyId, companyIdNumber, companyName,\n          trackName: maslul.name,\n          trackAccumulation: maslul.accumulation || 0,\n          trackPercent: Math.round((maslul.accumulation / (product.accumulation || 1)) * 100) || 0,\n          productAccumulation: product.accumulation || 0,\n          accumulationFee: (product.accumulationFee || 0) * 100,\n          depositFee: (product.depositFee || 0) * 100,\n          statusCode: statusInfo.code,\n          statusDescription: statusInfo.description,\n          employmentStatus,\n          lastDepositDate: product.lastDeposit?.hafkadot?.[0]?.taarihEreh || null,\n          lastDepositMonth: product.lastDeposit?.hafkadot?.[0]?.month || null,\n          lastDepositAmount: product.lastDeposit?.hafkadot?.[0]?.total || 0,\n          salary: product.maamad?.salary || 0,\n          employerName: product.lastDeposit?.hafkadot?.[0]?.shemMaasik || '',\n          // Pension-specific fields - using collection objects\n          insuredSalary: product.insuredSalary || 0,\n          kitzbatNehut: product.kitzbatNehut?.amount || product.pensionDisabilityAllowance || 0,\n          kitzbaLeAlman: product.kitzbaLeAlman?.amount || product.partnerAllowance || 0,\n          kitzbaLeYetom: product.kitzbaLeYetom?.amount || product.orphanAllowance || 0,\n          kitzbatZiknaKolelPremiot: product.kitzbatZiknaKolelPremiot || product.swKitzbatZiknaKolelPremiot || 0,\n          retirementAge: product.swGilPrishaLeHishuvTahaziot || 67,\n          // Insurance coverage percentages (住 )\n          disabilityCoverage: product.pensionDisabilityCoverage || 0,\n          partnerCoverage: product.partnerCoverage || 0,\n          orphanCoverage: product.orphanCoverage || 0\n        });\n\n        // 拽抓 驻 .驻 + 住 爪专\n        if (needsGemelNet(productTypeCode) && companyIdNumber) {\n          const key = companyIdNumber + '_' + productTypeCode;\n          if (!processedGemelKeys.has(key)) {\n            processedGemelKeys.add(key);\n            gemelApiCalls.push({\n              companyIdNumber,\n              companyName,\n              productTypeCode,\n              productType,\n              customerTrackCodes: [trackKey],\n              apiUrl: buildGemelNetUrl(companyIdNumber, productTypeCode)  \n            });\n          } else {\n            const existing = gemelApiCalls.find(c => c.companyIdNumber === companyIdNumber && c.productTypeCode === productTypeCode);\n            if (existing && !existing.customerTrackCodes.includes(trackKey)) {\n              existing.customerTrackCodes.push(trackKey);\n            }\n          }\n        } else if (needsPensionNet(productTypeCode) && companyIdNumber) { \n          const key = companyIdNumber + '_' + productTypeCode;\n          if (!processedPensionKeys.has(key)) {\n            processedPensionKeys.add(key);\n            pensionApiCalls.push({\n              companyIdNumber,\n              companyName,\n              productTypeCode,\n              productType,\n              customerTrackCodes: [trackKey],\n              apiUrl: buildPensionNetUrl(companyIdNumber, productTypeCode)\n            });\n          } else {\n            const existing = pensionApiCalls.find(c => c.companyIdNumber === companyIdNumber && c.productTypeCode === productTypeCode);\n            if (existing && !existing.customerTrackCodes.includes(trackKey)) {\n              existing.customerTrackCodes.push(trackKey);\n            }\n          }\n        } else if (needsBituachNet(productTypeCode) && trackCode) {       \n          if (!processedBituachTracks.has(trackKey)) {\n            processedBituachTracks.add(trackKey);\n            bituachApiCalls.push({\n              trackCode: trackKey,\n              trackName: maslul.name,\n              companyName,\n              productType,\n              productTypeCode,\n              customerTrackCodes: [trackKey],\n              apiUrl: buildBituachNetUrl(trackCode)\n            });\n          }\n        }\n      }\n    }\n  }\n\n  const productTypes = Array.from(productTypesSet);\n  const summaryStats = {\n    totalAccumulation: shuranceData.tzvira?.amount || 0,\n    projectedPension: shuranceData.kitzbaHazuyaKolelPremiot?.amount || 0, \n    ytdReturn: shuranceData.tsuaMithilatShana?.amount || 0,\n    monthlyDeposit: 0\n  };\n\n  for (const product of products) {\n    if (product.lastDeposit?.hafkadot?.[0]) {\n      summaryStats.monthlyDeposit += product.lastDeposit.hafkadot[0].total || 0;\n    }\n  }\n\n  return {\n    json: {\n      customerInfo, portfolioItems, summaryStats, criticalAlerts, productTypes,\n      needGemelNet: gemelApiCalls.length > 0,\n      needPensionNet: pensionApiCalls.length > 0,\n      needBituachNet: bituachApiCalls.length > 0,\n      gemelApiCalls, pensionApiCalls, bituachApiCalls,\n      blacklist: BLACKLIST,\n      productCodes: PRODUCT_CODES\n    }\n  };"
      },
      "id": "9b6025d3-d522-4a72-b6c8-7ddde6475dfd",
      "name": "Parse Portfolio + Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        10304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needGemelNet }}",
              "value2": true
            }
          ]
        }
      },
      "id": "445c68bf-b525-4d2e-8bb5-097bd77fda45",
      "name": "If Gemel Net Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1168,
        10176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needPensionNet }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0150e2db-31da-492f-b351-c242e3b9d358",
      "name": "If Pension Net Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1168,
        10400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needBituachNet }}",
              "value2": true
            }
          ]
        }
      },
      "id": "09502ac9-0dd2-4f66-a6a7-2e614ecfbc46",
      "name": "If Bituach Net Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1168,
        10592
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiCalls = $('Parse Portfolio + Alerts').first().json.gemelApiCalls || [];\nreturn apiCalls.map(item => ({ json: item }));"
      },
      "id": "e07f199d-d529-4a13-b842-a8cbeddfcb7b",
      "name": "Split Gemel Tracks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        10160
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiCalls = $('Parse Portfolio + Alerts').first().json.pensionApiCalls || [];\nreturn apiCalls.map(item => ({ json: item }));"
      },
      "id": "cfff8d95-c212-4eea-8b74-b16955796342",
      "name": "Split Pension Tracks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        10400
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiCalls = $('Parse Portfolio + Alerts').first().json.bituachApiCalls || [];\nreturn apiCalls.map(item => ({ json: item }));"
      },
      "id": "d02c16f6-0379-4774-b58f-facc8f57704a",
      "name": "Split Bituach Tracks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        10592
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "bf91002b-9d41-45ea-ac35-5e0509095b22",
      "name": "Gemel Net API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        10160
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "5afb203d-1dc5-4ef1-a350-252d87071ce1",
      "name": "Pension Net API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        10400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "18581fb4-020c-4770-9ecd-29443be6287a",
      "name": "Bituach Net API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        10592
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== PARSE GEMEL RESULTS - 注 Top 3 转专转 =====\nconst results = [];\nconst splitItems = $('Split Gemel Tracks').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const splitItem = splitItems[i]?.json || {};\n  const records = item.json?.result?.records || [];\n  const customerTrackCodes = splitItem.customerTrackCodes || [];\n  \n  // 砖 1: 专砖 专  FUND_ID\n  const latestByFundId = {};\n  for (const rec of records) {\n    const fundId = String(rec.FUND_ID);\n    if (!latestByFundId[fundId] || rec.REPORT_PERIOD > latestByFundId[fundId].REPORT_PERIOD) {\n      latestByFundId[fundId] = rec;\n    }\n  }\n  \n  // 砖 2: 转 专砖转  住 注 砖 砖驻\n  const allTracks = Object.values(latestByFundId).map(rec => {\n    const assets = parseFloat(rec.TOTAL_ASSETS || 1);\n    const exposure = parseFloat(rec.STOCK_MARKET_EXPOSURE || 0);\n    return {\n      fundId: String(rec.FUND_ID),\n      fundName: rec.FUND_NAME || '',\n      ytdYield: parseFloat(rec.YEAR_TO_DATE_YIELD || 0),\n      yield3Y: parseFloat(rec.AVG_ANNUAL_YIELD_TRAILING_3YRS || 0),\n      stockExposure: assets > 0 ? (exposure / assets) * 100 : 0,\n      totalAssets: assets,\n      managingCorp: rec.MANAGING_CORPORATION || '',\n      fundClassification: rec.FUND_CLASSIFICATION || '',\n      mgmtFee: parseFloat(rec.AVG_ANNUAL_MANAGEMENT_FEE || 0)\n    };\n  });\n  \n  // 砖 3:  驻 转砖 ( )\n  allTracks.sort((a, b) => b.ytdYield - a.ytdYield);\n  \n  // 砖 4: Top 3\n  const top3 = allTracks.slice(0, 3).map((t, idx) => ({\n    ...t,\n    rank: idx + 1\n  }));\n  \n  // 砖 5: 专转 专砖  住 砖 拽\n  for (const trackCode of customerTrackCodes) {\n    const customerTrack = allTracks.find(t => t.fundId === trackCode);\n    \n    // 拽转 专: 砖驻  (卤15%) + 转砖  -7%+\n    let hasAlert = false;\n    let betterTrack = null;\n    \n    if (customerTrack) {\n      for (const track of allTracks) {\n        if (track.fundId === trackCode) continue;\n        const exposureDiff = Math.abs(track.stockExposure - customerTrack.stockExposure);\n        const yieldDiff = track.ytdYield - customerTrack.ytdYield;\n        if (exposureDiff <= 15 && yieldDiff >= 7) {\n          hasAlert = true;\n          betterTrack = track;\n          break;\n        }\n      }\n    }\n    \n    // 砖 专\n    const rankIndex = allTracks.findIndex(t => t.fundId === trackCode);\n    const ranking = rankIndex >= 0 ? rankIndex + 1 : null;\n    \n    results.push({\n      json: {\n        trackCode,\n        trackName: customerTrack?.fundName || splitItem.trackName || '',\n        productTypeCode: splitItem.productTypeCode,\n        companyId: splitItem.companyId,\n        companyName: splitItem.companyName,\n        // 转 住 \n        stockExposure: customerTrack?.stockExposure || null,\n        ytdYield: customerTrack?.ytdYield || null,\n        yield3Y: customerTrack?.yield3Y || null,\n        totalAssets: customerTrack?.totalAssets || null,\n        managingCorp: customerTrack?.managingCorp || '',\n        fundClassification: customerTrack?.fundClassification || '',\n        mgmtFee: customerTrack?.mgmtFee || null,\n        // 爪转\n        ranking,\n        totalTracks: allTracks.length,\n        top3,\n        allTracks,\n        hasAlert,\n        betterTrack,\n        // \n        source: 'GEMELNET',\n        hasData: customerTrack !== undefined\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "8af9c6c8-ba91-4902-9e1b-898c7b4d9600",
      "name": "Parse Gemel Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        10160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== PARSE PENSION RESULTS - 注 Top 3 转专转 =====\nconst results = [];\nconst splitItems = $('Split Pension Tracks').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const splitItem = splitItems[i]?.json || {};\n  const records = item.json?.result?.records || [];\n  const customerTrackCodes = splitItem.customerTrackCodes || [];\n  \n  // 砖 1: 专砖 专  FUND_ID\n  const latestByFundId = {};\n  for (const rec of records) {\n    const fundId = String(rec.FUND_ID);\n    if (!latestByFundId[fundId] || rec.REPORT_PERIOD > latestByFundId[fundId].REPORT_PERIOD) {\n      latestByFundId[fundId] = rec;\n    }\n  }\n  \n  // 砖 2: 转 专砖转  住 注 砖 砖驻\n  const allTracks = Object.values(latestByFundId).map(rec => {\n    const assets = parseFloat(rec.TOTAL_ASSETS || 1);\n    const exposure = parseFloat(rec.STOCK_MARKET_EXPOSURE || 0);\n    return {\n      fundId: String(rec.FUND_ID),\n      fundName: rec.FUND_NAME || '',\n      ytdYield: parseFloat(rec.YEAR_TO_DATE_YIELD || 0),\n      yield3Y: parseFloat(rec.AVG_ANNUAL_YIELD_TRAILING_3YRS || 0),\n      stockExposure: assets > 0 ? (exposure / assets) * 100 : 0,\n      totalAssets: assets,\n      managingCorp: rec.MANAGING_CORPORATION || '',\n      fundClassification: rec.FUND_CLASSIFICATION || '',\n      mgmtFee: parseFloat(rec.AVG_ANNUAL_MANAGEMENT_FEE || 0)\n    };\n  });\n  \n  // 砖 3:  驻 转砖 ( )\n  allTracks.sort((a, b) => b.ytdYield - a.ytdYield);\n  \n  // 砖 4: Top 3\n  const top3 = allTracks.slice(0, 3).map((t, idx) => ({\n    ...t,\n    rank: idx + 1\n  }));\n  \n  // 砖 5: 专转 专砖  住 砖 拽\n  for (const trackCode of customerTrackCodes) {\n    const customerTrack = allTracks.find(t => t.fundId === trackCode);\n    \n    // 拽转 专: 砖驻  (卤15%) + 转砖  -7%+\n    let hasAlert = false;\n    let betterTrack = null;\n    \n    if (customerTrack) {\n      for (const track of allTracks) {\n        if (track.fundId === trackCode) continue;\n        const exposureDiff = Math.abs(track.stockExposure - customerTrack.stockExposure);\n        const yieldDiff = track.ytdYield - customerTrack.ytdYield;\n        if (exposureDiff <= 15 && yieldDiff >= 7) {\n          hasAlert = true;\n          betterTrack = track;\n          break;\n        }\n      }\n    }\n    \n    // 砖 专\n    const rankIndex = allTracks.findIndex(t => t.fundId === trackCode);\n    const ranking = rankIndex >= 0 ? rankIndex + 1 : null;\n    \n    results.push({\n      json: {\n        trackCode,\n        trackName: customerTrack?.fundName || splitItem.trackName || '',\n        productTypeCode: splitItem.productTypeCode,\n        companyId: splitItem.companyId,\n        companyName: splitItem.companyName,\n        // 转 住 \n        stockExposure: customerTrack?.stockExposure || null,\n        ytdYield: customerTrack?.ytdYield || null,\n        yield3Y: customerTrack?.yield3Y || null,\n        totalAssets: customerTrack?.totalAssets || null,\n        managingCorp: customerTrack?.managingCorp || '',\n        fundClassification: customerTrack?.fundClassification || '',\n        mgmtFee: customerTrack?.mgmtFee || null,\n        // 爪转\n        ranking,\n        totalTracks: allTracks.length,\n        top3,\n        allTracks,\n        hasAlert,\n        betterTrack,\n        // \n        source: 'PENSIANET',\n        hasData: customerTrack !== undefined\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "f47ee496-541c-4a1c-b73b-63b6e99170b3",
      "name": "Parse Pension Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        10400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== PARSE BITUACH RESULTS -  砖 转 =====\nconst results = [];\nconst splitItems = $('Split Bituach Tracks').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const splitItem = splitItems[i]?.json || {};\n  const records = item.json?.result?.records || [];\n  \n  let stockExposure = null;\n  let yield3Y = null;\n  let ytdYield = null;\n  let fundClassification = null;\n  let managingCorp = null;\n  let mgmtFee = null;\n  let totalAssets = null;\n  let fundName = null;\n  let hasData = false;\n  \n  if (records.length > 0) {\n    const latest = records[0];\n    const exposure = parseFloat(latest.STOCK_MARKET_EXPOSURE || 0);\n    const assets = parseFloat(latest.TOTAL_ASSETS || 1);\n    if (assets > 0) stockExposure = (exposure / assets) * 100;\n    yield3Y = parseFloat(latest.AVG_ANNUAL_YIELD_TRAILING_3YRS || 0);\n    ytdYield = parseFloat(latest.YEAR_TO_DATE_YIELD || 0);\n    fundClassification = latest.FUND_CLASSIFICATION || '';\n    managingCorp = latest.MANAGING_CORPORATION || '';\n    mgmtFee = parseFloat(latest.AVG_ANNUAL_MANAGEMENT_FEE || 0);\n    totalAssets = assets;\n    fundName = latest.FUND_NAME || '';\n    hasData = true;\n  }\n  \n  results.push({\n    json: {\n      trackCode: String(splitItem.trackCode),\n      trackName: splitItem.trackName,\n      productTypeCode: splitItem.productTypeCode,\n      stockExposure, ytdYield, yield3Y,\n      fundClassification, managingCorp, mgmtFee, totalAssets, fundName,\n      // -  top3 爪转\n      ranking: null, totalTracks: null, top3: [], hasAlert: false, betterTrack: null,\n      source: 'BITUACHNET',\n      hasData\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "3c39d887-a223-42ec-966d-fcf08ef6afbc",
      "name": "Parse Bituach Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        10592
      ]
    },
    {
      "parameters": {},
      "id": "14a0e368-0c50-43c7-bfd7-839c595bba65",
      "name": "Merge Market Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2080,
        10304
      ]
    },
    {
      "parameters": {
        "jsCode": " const portfolioData = $('Parse Portfolio + Alerts').first().json;       \n  const marketDataInputs = $('Merge Market Data').all();\n\n  const PRODUCT_CODES = portfolioData.productCodes || {\n    PENSION: [1, 2, 19],\n    GEMEL: [3, 5, 6],\n    GEMEL_INVEST: [4],\n    HISHTALMUT: [7],\n    SAVINGS: [41],\n    INSURANCE: [13, 14, 15]\n  };\n\n  const APPROVED_COMPANIES = [\n    '  驻住 注\"',\n    '住 拽驻转  注\"',\n    '专  驻住 注\"',\n    ' 拽驻转 拽专转 驻住 拽驻转  注\"',\n    '专 驻住  注\"',\n    '驻拽住 驻住  注\"',\n    '砖专 砖  驻住 注\"'\n  ];\n\n  const mergedData = marketDataInputs.map(item => item.json);\n  const BLACKLIST = portfolioData.blacklist || [];\n  const MIN_YIELD_GAP_FOR_ALERT = 7;\n\n  const analyzed = [];\n  const recommendations = [];\n\n  function isApprovedCompany(companyName) {\n    if (!companyName) return false;\n    return APPROVED_COMPANIES.some(approved =>\n      companyName.includes(approved) || approved.includes(companyName)    \n    );\n  }\n\n  function isInBlacklist(companyName) {\n    if (!companyName) return false;\n    return BLACKLIST.some(b => companyName.includes(b));\n  }\n\n  function getProductCategory(code) {\n    if (PRODUCT_CODES.PENSION.includes(code)) return 'pension';\n    if (PRODUCT_CODES.GEMEL.includes(code)) return 'gemel';\n    if (PRODUCT_CODES.GEMEL_INVEST.includes(code)) return 'gemel_invest'; \n    if (PRODUCT_CODES.HISHTALMUT.includes(code)) return 'hishtalmut';     \n    if (PRODUCT_CODES.SAVINGS.includes(code)) return 'savings';\n    if (PRODUCT_CODES.INSURANCE.includes(code)) return 'insurance';       \n    return 'other';\n  }\n\n  for (const customerTrack of portfolioData.portfolioItems) {\n    const trackCode = customerTrack.trackCode;\n    const productTypeCode = customerTrack.productTypeCode;\n    const productCategory = getProductCategory(productTypeCode);\n\n    const marketTrack = mergedData.find(m => String(m.trackCode) === String(trackCode));\n\n    if (!marketTrack || !marketTrack.hasData) {\n      analyzed.push({\n        ...customerTrack,\n        stockExposure: null,\n        marketData: null,\n        ranking: null,\n        top3SameCompany: [],\n        hasAlert: false,\n        alertGap: 0,\n        status: 'NO_MARKET_DATA',\n        statusMessage: ' 转 砖拽  住 '\n      });\n      continue;\n    }\n\n    const marketYtdYield = parseFloat(marketTrack.ytdYield || 0);\n    const return3Y = parseFloat(marketTrack.yield3Y || 0);\n    const fundClassification = marketTrack.fundClassification || '';      \n    const managingCorp = marketTrack.managingCorp || customerTrack.companyName || '';\n    const mgmtFee = parseFloat(customerTrack.accumulationFee || 0);       \n    const totalAssets = parseFloat(marketTrack.totalAssets || 0);\n    const stockExposure = marketTrack.stockExposure;\n\n    // ========== 砖砖 -Top 3 砖注 -API ==========\n    const top3SameCompany = marketTrack.allTracks || marketTrack.top3 || [];\n\n    // 砖 专 转专转 转 -top3\n    const bestInCompany = top3SameCompany[0];\n    const gap = bestInCompany ? (bestInCompany.ytdYield - marketYtdYield) : 0;\n\n    const currentRankIndex = top3SameCompany.findIndex(m => String(m.fundId) === String(trackCode));\n    const isInTop3 = currentRankIndex >= 0 && currentRankIndex < 3;\n\n    // 转专 专拽 : 驻注专 >= 7%, 住  砖 , 住  -Top 3\n    const hasAlert = gap >= MIN_YIELD_GAP_FOR_ALERT && bestInCompany && String(bestInCompany.fundId) !== String(trackCode) && !isInTop3;\n\n    const currentRank = marketTrack.ranking || (currentRankIndex >= 0 ? currentRankIndex + 1 : null);\n    const totalInCategory = marketTrack.totalTracks || top3SameCompany.length;\n\n    const categoryAvg = top3SameCompany.length > 0\n      ? top3SameCompany.reduce((sum, m) => sum + m.ytdYield, 0) / top3SameCompany.length\n      : 0;\n    const diffFromAvg = marketYtdYield - categoryAvg;\n\n    let status = 'OK';\n    let statusMessage = '';\n\n    if (currentRank && totalInCategory > 0) {\n      const percentile = (currentRank / totalInCategory) * 100;\n      if (percentile <= 25) {\n        status = 'EXCELLENT';\n        statusMessage = '住 砖 专注 注!';\n      } else if (percentile <= 50) {\n        status = 'GOOD';\n        statusMessage = '住 砖 注 爪注';\n      } else if (percentile <= 75) {\n        status = 'BELOW_AVG';\n        statusMessage = '住 砖 转转 爪注';\n      } else {\n        status = 'POOR';\n        statusMessage = '住 砖 专注 转转';\n      }\n    }\n\n    analyzed.push({\n      ...customerTrack,\n      stockExposure: stockExposure,\n      exposurePercent: stockExposure,\n      marketData: {\n        fundId: marketTrack.trackCode,\n        fundName: marketTrack.fundName || '',\n        company: managingCorp,\n        classification: fundClassification,\n        ytdYield: marketYtdYield,\n        return3Y: return3Y,\n        exposure: stockExposure,\n        mgmtFee: mgmtFee,\n        assets: totalAssets\n      },\n      ranking: {\n        position: currentRank,\n        total: totalInCategory,\n        categoryAvg: categoryAvg,\n        diffFromAvg: diffFromAvg,\n        percentile: currentRank && totalInCategory ? Math.round((currentRank / totalInCategory) * 100) : null\n      },\n      top3SameCompany: top3SameCompany,\n      hasAlert: hasAlert,\n      alertGap: gap,\n      bestAlternative: hasAlert ? bestInCompany : null,\n      status: status,\n      statusMessage: statusMessage\n    });\n\n    if (hasAlert && bestInCompany) {\n      const better = marketTrack.betterTrack || bestInCompany;\n      recommendations.push({\n        forTrack: customerTrack.trackName,\n        forTrackCode: trackCode,\n        productType: customerTrack.productType,\n        productTypeCode: productTypeCode,\n        productCategory: productCategory,\n        accumulation: customerTrack.trackAccumulation,\n        currentYtdYield: marketYtdYield,\n        currentReturn3Y: return3Y,\n        currentExposure: stockExposure,\n        currentMgmtFee: mgmtFee,\n        company: managingCorp,\n        gap: gap,\n        bestAlternative: {\n          fundName: better.fundName,\n          ytdYield: better.ytdYield,\n          exposure: better.stockExposure || better.exposure\n        },\n        ranking: currentRank,\n        totalInCategory: totalInCategory,\n        status: status,\n        message: '驻注专 砖 ' + gap.toFixed(1) + '% 住  转专'      \n      });\n    }\n  }\n\n  return {\n    json: {\n      customerInfo: portfolioData.customerInfo,\n      summaryStats: portfolioData.summaryStats,\n      criticalAlerts: portfolioData.criticalAlerts,\n      analyzedTracks: analyzed,\n      recommendations: recommendations,\n      productCodes: PRODUCT_CODES,\n      stats: {\n        totalTracks: analyzed.length,\n        tracksWithAlert: analyzed.filter(t => t.hasAlert).length,\n        tracksWithMarketData: analyzed.filter(t => t.marketData !== null).length,\n        excellentTracks: analyzed.filter(t => t.status === 'EXCELLENT').length,\n        poorTracks: analyzed.filter(t => t.status === 'POOR' || t.status === 'BELOW_AVG').length\n      }\n    }\n  };"
      },
      "id": "33525c77-1a72-46fe-91dc-989da243a1ff",
      "name": "Analyze Performance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        10304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== OFFICIAL CLIENT REPORT - Updated Design =====\n// With proper category names and exposure calculations\nconst data = $input.first().json;\nconst PRODUCT_CODES = data.productCodes || { PENSION: [1,2,19], GEMEL: [3,5,6], GEMEL_INVEST: [4], HISHTALMUT: [7], SAVINGS: [41], INSURANCE: [13,14,15] };\n\n// --- RECOMMENDATION CONFIG ---\nconst YIELD_MARGIN_THRESHOLD = 7.0;\nconst EXPOSURE_DIFF_THRESHOLD = 5;\nconst HIGH_RISK_THRESHOLD = 80;\nconst HIGH_EXPOSURE_THRESHOLD = 70;\n\n// --- COMPANY URLs MAP ---\nconst COMPANY_URLS = {\n    '驻拽住': 'https://my.fnx.co.il/',\n    '驻拽住': 'https://my.fnx.co.il/',\n    '': 'https://customers.meitav.co.il/v2/login/loginAmit',\n    '': 'https://www.clal.co.il/clal-online/login',\n    '专': 'https://www.more.co.il/personal-area/',\n    '砖专': 'https://www.as-invest.co.il/personal-area/',\n    '专': 'https://www.harel-group.co.il/my-harel/pages/login.aspx',\n    '': 'https://www.migdal.co.il/migdal-online',\n    '专': 'https://www.menoramivt.co.il/customer-service/online-services/',\n    '住': 'https://amitim.analyst.co.il/auth/login?redirectUrl=%2Flobby',\n    '': 'https://www.yl-invest.co.il/personal-area/',\n    '砖专': 'https://customers.hcsra.co.il/#/login?returnUrl=%2Fhome',\n    '': 'https://clientportfolio.ayalon-ins.co.il/cpLogin/mainLogin/login'\n};\n\nfunction formatCurrency(num) {\n    return new Intl.NumberFormat('he-IL', { style: 'currency', currency: 'ILS', maximumFractionDigits: 0 }).format(num || 0);\n}\n\nfunction formatPercent(num) {\n    if (num === null || num === undefined || isNaN(num)) return '-';\n    return num.toFixed(1) + '%';\n}\n\n// UPDATED: New category names\nfunction getProductCategory(code) {\n    if (PRODUCT_CODES.PENSION.includes(code)) return '驻住';\n    if (PRODUCT_CODES.GEMEL.includes(code)) return '';\n    if (PRODUCT_CODES.INSURANCE.includes(code)) return ' ';\n    if (PRODUCT_CODES.HISHTALMUT.includes(code)) return '砖转转';\n    if (PRODUCT_CODES.GEMEL_INVEST.includes(code)) return '砖拽注转 专转';\n    if (PRODUCT_CODES.SAVINGS.includes(code)) return '砖拽注转 专转';\n    return '专';\n}\n\n// Category icon SVGs\nfunction getCategoryIcon(catName) {\n    const icons = {\n        '驻住': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M12 2L2 7l10 5 10-5-10-5z\"/><path d=\"M2 17l10 5 10-5\"/><path d=\"M2 12l10 5 10-5\"/></svg>',\n        '': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M19 5c-1.5 0-2.8 1.4-3 2-3.5-1.5-11-.3-11 5 0 1.8 0 3 2 4.5V20h4v-2h3v2h4v-4c1-.5 1.7-1 2-2h2v-4h-2c0-1-.5-1.5-1-2z\"/><path d=\"M2 9v1c0 1.1.9 2 2 2h1\"/></svg>',\n        '砖转转': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M22 10v6M2 10l10-5 10 5-10 5z\"/><path d=\"M6 12v5c0 2 2 3 6 3s6-1 6-3v-5\"/></svg>',\n        '砖拽注转 专转': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><circle cx=\"12\" cy=\"12\" r=\"8\"/><path d=\"M12 8v8\"/><path d=\"M8 12h8\"/></svg>',\n        ' ': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z\"/></svg>'\n    };\n    return icons[catName] || icons['砖拽注转 专转'];\n}\n\n// Category colors\nfunction getCategoryColor(catName) {\n    const colors = {\n        '驻住': 'linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%)',\n        '': 'linear-gradient(135deg, #dc2626 0%, #f87171 100%)',\n        '砖转转': 'linear-gradient(135deg, #7c3aed 0%, #a78bfa 100%)',\n        '砖拽注转 专转': 'linear-gradient(135deg, #059669 0%, #34d399 100%)',\n        ' ': 'linear-gradient(135deg, #0891b2 0%, #22d3ee 100%)'\n    };\n    return colors[catName] || colors['砖拽注转 专转'];\n}\n\nfunction getCompanyLoginUrl(name) {\n    const n = name || '';\n    for (const [key, url] of Object.entries(COMPANY_URLS)) {\n        if (n.includes(key)) return url;\n    }\n    return '#';\n}\n\nfunction getFallbackColor(name) {\n    const n = name || '';\n    if (n.includes('驻拽住') || n.includes('驻拽住')) return '#f97316';\n    if (n.includes('')) return '#4f46e5';\n    if (n.includes('专')) return '#2563eb';\n    if (n.includes('')) return '#0d9488';\n    if (n.includes('')) return '#0891b2';\n    if (n.includes('砖专')) return '#16a34a';\n    if (n.includes('专')) return '#9333ea';\n    if (n.includes('住')) return '#0284c7';\n    if (n.includes('专')) return '#e11d48';\n    if (n.includes('')) return '#d97706';\n    return '#475569';\n}\n\nfunction cleanName(name, companyName) {\n    if (!name) return '';\n    let cleaned = name;\n    if (companyName) {\n        cleaned = cleaned.replace(new RegExp(companyName, 'gi'), '');\n        const companyFirstWord = companyName.split(' ')[0];\n        if (companyFirstWord) cleaned = cleaned.replace(new RegExp(companyFirstWord, 'gi'), '');\n    }\n    const stopWords = ['注\"', '-', '  '];\n    stopWords.forEach(word => { cleaned = cleaned.replace(new RegExp(word, 'g'), ' '); });\n    cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n    return cleaned.length > 2 ? cleaned : name;\n}\n\nfunction calcEfficiency(ytd, exposure) {\n    if (!exposure || exposure === 0 || !ytd) return 0;\n    return ((ytd / exposure) * 10).toFixed(1);\n}\n\nfunction getStarRating(score) {\n    const s = parseFloat(score);\n    let stars = '';\n    for (let i = 1; i <= 5; i++) {\n        stars += i <= Math.round(s) ? '<span class=\"fill\"></span>' : '<span></span>';\n    }\n    return stars;\n}\n\nfunction getPensionSortPriority(productName) {\n    const name = (productName || '').toLowerCase();\n    if (name.includes('拽驻')) return 0;\n    if (name.includes('转') || name.includes('')) return 1;\n    return 2;\n}\n\nfunction processAlternatives(track, currentYtd, currentExposure, productTracks) {\n    const alternatives = track.top3SameCompany || [];\n    if (alternatives.length === 0) {\n        return { hasAlert: false, top3Alternatives: [] };\n    }\n\n    const currentId = String(track.trackCode || track.trackId || '');\n    const customerTrackIds = (productTracks || []).map(t => String(t.trackId));\n    const totalProductAccumulation = (productTracks || []).reduce((sum, t) => sum + (t.trackAccumulation || 0), 0);\n    const isHighExposure = currentExposure >= HIGH_EXPOSURE_THRESHOLD;\n\n    const filtered = alternatives\n        .filter(alt => String(alt.fundId) !== currentId)\n        .filter(alt => {\n            const altYield = alt.suaMithilatShanaCollection ?? alt.ytdYield ?? 0;\n            const altExposure = alt.ahuzHasifaMenayot ?? alt.stockExposure ?? alt.exposure ?? 0;\n            const yieldOk = altYield - currentYtd >= YIELD_MARGIN_THRESHOLD;\n            let exposureOk;\n            if (isHighExposure) {\n                exposureOk = altExposure >= HIGH_EXPOSURE_THRESHOLD;\n            } else {\n                exposureOk = Math.abs(altExposure - currentExposure) <= EXPOSURE_DIFF_THRESHOLD;\n            }\n            return yieldOk && exposureOk;\n        })\n        .map(alt => {\n            const altYield = alt.suaMithilatShanaCollection ?? alt.ytdYield ?? 0;\n            const altExposure = alt.ahuzHasifaMenayot ?? alt.stockExposure ?? alt.exposure ?? 0;\n            const efficiency = altExposure > 0 ? (altYield / altExposure) * 10 : 0;\n            const altId = String(alt.fundId);\n            const isOwned = customerTrackIds.includes(altId);\n            let ownedPercent = 0;\n            if (isOwned && totalProductAccumulation > 0) {\n                const ownedTrack = productTracks.find(t => String(t.trackId) === altId);\n                if (ownedTrack) {\n                    ownedPercent = ((ownedTrack.trackAccumulation || 0) / totalProductAccumulation * 100).toFixed(1);\n                }\n            }\n            return {\n                name: alt.fundName,\n                id: alt.fundId,\n                yield: altYield,\n                exposure: altExposure,\n                efficiency: efficiency,\n                isOwned: isOwned,\n                ownedPercent: ownedPercent,\n                isRecommended: true,\n                recommendReason: '爪'\n            };\n        })\n        .sort((a, b) => (b.efficiency || 0) - (a.efficiency || 0))\n        .slice(0, 3);\n\n    return {\n        hasAlert: filtered.length > 0,\n        top3Alternatives: filtered\n    };\n}\n\n// UPDATED: New category structure\nconst portfolioData = {\n    '驻住': [],\n    '': [],\n    ' ': [],\n    '砖转转': [],\n    '砖拽注转 专转': []\n};\n\nconst categoryOrder = ['驻住', '', '砖转转', '砖拽注转 专转', ' '];\n\n// FIXED:  专 = 拽爪转,  砖拽注 = \nconst honiCategories = ['砖转转', '砖拽注转 专转'];\nconst kitzbaCategories = ['驻住', '', ' '];\n\nconst productMap = {};\nfor (const track of data.analyzedTracks || []) {\n    const category = getProductCategory(track.productTypeCode);\n    const key = `${track.accountPolicyNumber || track.productNumber || track.productName}_${track.productTypeCode || 'unknown'}`;\n\n    if (!productMap[key]) {\n        productMap[key] = {\n            companyName: track.companyName || track.marketData?.company || '',\n            productName: track.shemTohnit || track.productName,\n            productNumber: track.accountPolicyNumber || track.productNumber,\n            totalAccumulation: 0,\n            category: category,\n            criticalAlert: track.criticalAlert || null,\n            accumulationFee: track.accumulationFee || 0,\n            depositFee: track.depositFee || 0,\n            tracks: []\n        };\n\n        // Add pension-specific data for pension products\n        if (category === '驻住' && (track.kitzbatNehut || track.insuredSalary || track.kitzbatZiknaKolelPremiot)) {\n            productMap[key].pensionData = {\n                insuredSalary: track.insuredSalary || 0,\n                kitzbatNehut: track.kitzbatNehut || 0,\n                kitzbaLeAlman: track.kitzbaLeAlman || 0,\n                kitzbaLeYetom: track.kitzbaLeYetom || 0,\n                lastDepositAmount: track.lastDepositAmount || 0,\n                lastDepositDate: track.lastDepositDate || '',\n                kitzbatZiknaKolelPremiot: track.kitzbatZiknaKolelPremiot || 0,\n                retirementAge: track.retirementAge || 67,\n                // Insurance coverage percentages (住 )\n                disabilityCoverage: track.disabilityCoverage || 0,\n                partnerCoverage: track.partnerCoverage || 0,\n                orphanCoverage: track.orphanCoverage || 0\n            };\n        }\n    }\n\n    const ytdYield = track.suaMithilatShanaCollection ?? track.marketData?.suaMithilatShanaCollection ?? track.marketData?.ytdYield ?? 0;\n    const return3Y = track.suaMitztaberet36H ?? track.marketData?.suaMitztaberet36H ?? track.marketData?.return3Y ?? null;\n    const stockExposure = track.ahuzHasifaMenayot ?? track.marketData?.ahuzHasifaMenayot ?? track.stockExposure ?? track.marketData?.stockExposure ?? 0;\n\n    productMap[key].tracks.push({\n        trackName: track.trackName,\n        trackId: track.trackCode || track.trackId || '',\n        trackAccumulation: track.trackAccumulation || 0,\n        fee: track.fee || track.managementFee || null,\n        marketData: {\n            ytdYield: ytdYield,\n            stockExposure: stockExposure,\n            return3Y: return3Y\n        },\n        top3SameCompany: track.top3SameCompany || [],\n        ranking: track.ranking,\n        hasAlert: false,\n        top3Alternatives: []\n    });\n\n    productMap[key].totalAccumulation += track.trackAccumulation || 0;\n\n    if (track.criticalAlert && !productMap[key].criticalAlert) {\n        productMap[key].criticalAlert = track.criticalAlert;\n    }\n}\n\nfor (const key of Object.keys(productMap)) {\n    const product = productMap[key];\n    for (const trackItem of product.tracks) {\n        const { hasAlert, top3Alternatives } = processAlternatives(\n            { trackCode: trackItem.trackId, top3SameCompany: trackItem.top3SameCompany }, \n            trackItem.marketData.ytdYield, \n            trackItem.marketData.stockExposure, \n            product.tracks\n        );\n        trackItem.hasAlert = hasAlert;\n        trackItem.top3Alternatives = top3Alternatives;\n    }\n}\n\nfor (const product of Object.values(productMap)) {\n    if (portfolioData[product.category]) {\n        portfolioData[product.category].push(product);\n    }\n}\n\nif (portfolioData['驻住'] && portfolioData['驻住'].length > 0) {\n    portfolioData['驻住'].sort((a, b) => {\n        return getPensionSortPriority(a.productName) - getPensionSortPriority(b.productName);\n    });\n}\n\n// Calculate global stats\nlet grandTotal = 0, totalHoni = 0, totalKitzba = 0;\nlet weightedExpSum = 0, weightedYieldSum = 0;\nlet honiWeightedExp = 0, kitzbaWeightedExp = 0;\n\nfor (const [catName, products] of Object.entries(portfolioData)) {\n    for (const p of products) {\n        grandTotal += p.totalAccumulation;\n        for (const t of p.tracks) {\n            const acc = t.trackAccumulation || 0;\n            const exp = t.marketData?.stockExposure || 0;\n            const ytd = t.marketData?.ytdYield || 0;\n\n            weightedExpSum += acc * exp;\n            weightedYieldSum += acc * ytd;\n\n            if (honiCategories.includes(catName)) {\n                totalHoni += acc;\n                honiWeightedExp += acc * exp;\n            } else if (kitzbaCategories.includes(catName)) {\n                totalKitzba += acc;\n                kitzbaWeightedExp += acc * exp;\n            }\n        }\n    }\n}\n\nconst totalWeightedYield = grandTotal > 0 ? (weightedYieldSum / grandTotal) : 0;\nconst avgExpTotal = grandTotal > 0 ? (weightedExpSum / grandTotal) : 0;\nconst avgExpHoni = totalHoni > 0 ? (honiWeightedExp / totalHoni) : 0;\nconst avgExpKitzba = totalKitzba > 0 ? (kitzbaWeightedExp / totalKitzba) : 0;\n\nconst honiPercent = grandTotal > 0 ? (totalHoni / grandTotal) * 100 : 0;\nconst kitzbaPercent = grandTotal > 0 ? (totalKitzba / grandTotal) * 100 : 0;\n\n// Gauge calculations (circumference = 264 for r=42)\nconst gaugeCircumference = 264;\nconst gaugeExpOffset = gaugeCircumference - (avgExpTotal / 100) * gaugeCircumference;\nconst gaugeHoniOffset = gaugeCircumference - (avgExpHoni / 100) * gaugeCircumference;\nconst gaugeKitzbaOffset = gaugeCircumference - (avgExpKitzba / 100) * gaugeCircumference;\n\nconst portfolioJson = JSON.stringify(portfolioData);\n\nconst currentDate = new Date().toLocaleDateString('he-IL');\nconst hebrewMonths = ['专', '驻专专', '专抓', '驻专', '', '', '', '住', '住驻专', '拽专', '专', '爪专'];\nconst currentMonth = hebrewMonths[new Date().getMonth()] + ' ' + new Date().getFullYear();\nconst customerName = data.customerInfo?.customerName || '拽';\nconst customerId = data.customerInfo?.customerId || data.customerInfo?.idNumber || '000000000';\nconst firstName = customerName.split(' ')[0];\nconst customerAge = data.customerInfo?.age || null;\n\n// Age-based exposure recommendation logic\nfunction getRecommendedExposure(age) {\n    if (!age) return {\n        min: 40, max: 60, label: '转',\n        description: '抓 转 转 砖驻转 转 ',\n        rule: ' 爪注: 100 驻转 '\n    };\n    if (age <= 40) return {\n        min: 60, max: 80, label: '爪',\n        description: ' 砖  专 转砖砖 专转 砖拽, 驻爪 转砖  砖 转 砖 爪专转 ',\n        rule: `驻  100 驻转 : ${100 - age}% 转`\n    };\n    if (age <= 50) return {\n        min: 50, max: 70, label: '爪 转',\n        description: '注 砖  转砖砖 转转 砖拽, 抓 砖专 注 砖驻  住转 转',\n        rule: `驻  100 驻转 : ${100 - age}% 转`\n    };\n    if (age <= 60) return {\n        min: 35, max: 45, label: '转',\n        description: ' 注 抓 转 驻转 住  专 住 \"',\n        rule: `驻  100 驻转 : ${100 - age}% 转`\n    };\n    return {\n        min: 15, max: 25, label: '砖专转',\n        description: '拽专转 驻专砖 专 注拽专转  砖专 注 注专 住祝 爪爪 驻住 驻爪',\n        rule: `抓 驻转 砖驻 转 -${100 - age}%  驻转`\n    };\n}\n\nconst recommendedExposure = getRecommendedExposure(customerAge);\n\n// Generate personalized exposure advice\nfunction getExposureAdvice(actualExposure, recommended, age) {\n    if (!age) return '';\n    const diff = actualExposure - recommended.max;\n    if (diff > 10) {\n        return `砖驻 转 砖 (${actualExposure.toFixed(0)}%)  抓 . 抓 砖拽 驻转转 砖驻 转.`;\n    } else if (diff < -15) {\n        return `砖驻 转 砖 (${actualExposure.toFixed(0)}%)  抓 . 转 砖转  转 驻爪 爪.`;\n    }\n    return `砖驻 转 砖 (${actualExposure.toFixed(0)}%) 转  驻专驻 住 抓.`;\n}\n\nconst exposureAdvice = getExposureAdvice(avgExpTotal, recommendedExposure, customerAge);\n\n// Calculate yields per category for chart\nconst categoryYields = {};\nfor (const [catName, products] of Object.entries(portfolioData)) {\n    if (products.length > 0) {\n        let totalAcc = 0, weightedYield = 0;\n        for (const p of products) {\n            for (const t of p.tracks) {\n                const acc = t.trackAccumulation || 0;\n                const ytd = t.marketData?.ytdYield || 0;\n                totalAcc += acc;\n                weightedYield += acc * ytd;\n            }\n        }\n        if (totalAcc > 0) {\n            categoryYields[catName] = (weightedYield / totalAcc).toFixed(1);\n        }\n    }\n}\n\nconst html = `<!DOCTYPE html>\n<html dir=\"rtl\" lang=\"he\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>  注砖专 | ${customerName}</title>\n    <link href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\" rel=\"stylesheet\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js\"></script>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');\n\n        :root {\n            --bg-body: #f4f5f7;\n            --bg-card: #ffffff;\n            --bg-subtle: #f8fafc;\n            --text-main: #1e293b;\n            --text-secondary: #64748b;\n            --text-light: #94a3b8;\n            --brand-primary: #0f172a;\n            --brand-accent: #c29d59;\n            --positive: #059669;\n            --positive-bg: #ecfdf5;\n            --negative: #dc2626;\n            --warning: #d97706;\n            --color-pension: #1e3a8a;\n            --color-gemel: #3b82f6;\n            --color-hish: #94a3b8;\n            --border-light: #e2e8f0;\n            --border-medium: #cbd5e1;\n            --radius: 8px;\n            --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);\n            --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);\n        }\n\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        html { scroll-behavior: smooth; }\n        body { font-family: 'Assistant', sans-serif; background: var(--bg-body); color: var(--text-main); line-height: 1.6; padding-bottom: 80px; }\n        .container { margin: 0 auto; padding: 0 20px; }\n        .container-narrow { max-width: 900px; }\n        .container-wide { max-width: 1000px; }\n\n        /* Cover Page */\n        .cover-section { padding: 60px 0; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; }\n        .cover-header { text-align: center; margin-bottom: 60px; border-bottom: 2px solid var(--brand-accent); padding-bottom: 40px; }\n        .logo-icon { font-size: 32px; color: var(--brand-primary); margin-bottom: 16px; }\n        .cover-title { font-family: inherit; font-size: 42px; font-weight: 700; color: var(--brand-primary); margin-bottom: 8px; }\n        .cover-subtitle { font-size: 18px; color: var(--text-secondary); font-weight: 500; }\n        .date-badge { display: inline-block; background: var(--brand-primary); color: #fff; padding: 4px 12px; border-radius: 4px; font-size: 12px; font-weight: 600; margin-bottom: 20px; }\n\n        .content-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 40px; margin-bottom: 60px; }\n        .text-section h2 { font-size: 18px; color: var(--brand-primary); margin-bottom: 16px; padding-bottom: 8px; border-bottom: 1px solid var(--brand-accent); }\n        .text-section p { font-size: 15px; color: var(--text-secondary); margin-bottom: 16px; }\n        .highlight-box { background: var(--positive-bg); border-right: 3px solid var(--positive); padding: 16px; border-radius: var(--radius); font-size: 14px; color: var(--text-main); }\n        .text-green { color: var(--positive); }\n\n        .chart-section { background: var(--bg-card); padding: 40px; border-radius: var(--radius); box-shadow: 0 4px 20px rgba(0,0,0,0.05); }\n        .chart-header { text-align: center; margin-bottom: 30px; }\n        .chart-title { font-size: 18px; font-weight: 700; color: var(--brand-primary); }\n        .line-chart-container { padding: 0 10px; }\n        .line-chart { width: 100%; height: 220px; }\n        .chart-legend { display: flex; justify-content: center; gap: 24px; margin-top: 20px; flex-wrap: wrap; }\n        .chart-legend .legend-item { display: flex; align-items: center; gap: 8px; font-size: 13px; color: var(--text-secondary); }\n        .chart-legend .legend-dot { width: 10px; height: 10px; border-radius: 50%; }\n        .chart-legend strong { color: var(--text-main); margin-right: 4px; }\n\n        .nav-boxes { display: flex; gap: 24px; justify-content: center; margin-top: 60px; }\n        .nav-box { \n            background: var(--bg-card); \n            border: 2px solid var(--border-light); \n            border-radius: var(--radius); \n            padding: 32px 40px; \n            text-align: center; \n            cursor: pointer; \n            transition: all 0.3s ease;\n            min-width: 220px;\n        }\n        .nav-box:hover { border-color: var(--brand-primary); transform: translateY(-4px); box-shadow: var(--shadow-md); }\n        .nav-box-icon { font-size: 32px; color: var(--brand-primary); margin-bottom: 16px; }\n        .nav-box-title { font-size: 18px; font-weight: 700; color: var(--brand-primary); margin-bottom: 8px; }\n        .nav-box-desc { font-size: 13px; color: var(--text-secondary); }\n\n        /* Report Page */\n        .header-card { background: var(--brand-primary); padding: 24px 0; margin-bottom: 32px; border-radius: var(--radius); }\n        .header-content { display: flex; justify-content: space-between; align-items: center; }\n        .brand { display: flex; align-items: center; gap: 12px; }\n        .brand-icon-box { width: 48px; height: 48px; border-radius: 12px; background: rgba(255,255,255,0.1); display: flex; align-items: center; justify-content: center; color: #fff; font-size: 20px; }\n        .brand-text h1 { color: #fff; font-size: 22px; font-weight: 700; }\n        .brand-text p { color: rgba(255,255,255,0.7); font-size: 13px; }\n        .client-info-box { text-align: left; }\n        .client-name-lg { color: #fff; font-size: 18px; font-weight: 700; }\n        .report-date-sm { color: rgba(255,255,255,0.7); font-size: 12px; }\n\n        /* Dashboard Summary */\n        .dashboard-summary { background: var(--bg-card); border-radius: var(--radius); box-shadow: var(--shadow-sm); margin-bottom: 32px; overflow: hidden; }\n        .summary-header { background: linear-gradient(135deg, var(--brand-primary) 0%, #1e40af 100%); padding: 28px 32px; text-align: center; }\n        .total-label { font-size: 12px; color: rgba(255,255,255,0.7); text-transform: uppercase; letter-spacing: 1px; margin-bottom: 8px; }\n        .total-amount { font-size: 36px; font-weight: 700; color: #fff; letter-spacing: -1px; }\n        .total-sub { font-size: 14px; color: rgba(255,255,255,0.8); margin-top: 8px; }\n        .total-sub .text-green { color: #4ade80; font-weight: 600; }\n        .gauges-row { display: flex; justify-content: space-around; padding: 28px 20px; background: var(--bg-card); }\n        .gauge-item { display: flex; flex-direction: column; align-items: center; text-align: center; flex: 1; }\n        .gauge-item .gauge-wrapper { position: relative; width: 100px; height: 100px; margin-bottom: 12px; }\n        .gauge-item .gauge-svg { width: 100%; height: 100%; transform: rotate(-90deg); }\n        .gauge-item .gauge-value { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 22px; font-weight: 700; color: var(--brand-primary); }\n        .gauge-item .gauge-label { font-size: 13px; font-weight: 600; color: var(--text-main); margin-bottom: 4px; }\n        .gauge-item .gauge-sub { font-size: 12px; color: var(--text-secondary); }\n        .gauge-bg { fill: none; stroke: var(--bg-subtle); stroke-width: 8; }\n        .gauge-fill { fill: none; stroke-width: 8; stroke-linecap: round; stroke-dasharray: 264; transition: stroke-dashoffset 1s ease-out; }\n\n        .holdings-container { display: flex; flex-direction: column; gap: 16px; }\n        .category-card { background: var(--bg-card); border-radius: var(--radius); box-shadow: var(--shadow-sm); overflow: hidden; border: 1px solid var(--border-light); }\n        .category-header { padding: 20px 24px; display: flex; justify-content: space-between; align-items: center; cursor: pointer; background: linear-gradient(to left, #fff, #f8fafc); transition: background 0.2s; }\n        .category-header:hover { background: #f1f5f9; }\n        .cat-main { display: flex; align-items: center; gap: 16px; }\n        .cat-icon { width: 44px; height: 44px; border-radius: 12px; display: flex; align-items: center; justify-content: center; color: #fff; font-size: 18px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); }\n        .cat-title h3 { font-size: 16px; font-weight: 700; color: var(--brand-primary); }\n        .cat-meta { font-size: 13px; color: var(--text-secondary); }\n        .cat-stats { text-align: left; display: flex; flex-direction: column; align-items: flex-end; }\n        .amount { font-weight: 700; color: var(--brand-primary); font-size: 16px; }\n        .yield { font-size: 13px; font-weight: 600; background: var(--positive-bg); color: var(--positive); padding: 2px 8px; border-radius: 12px; margin-top: 4px; }\n\n        .accordion-body { max-height: 0; overflow: hidden; transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1); background: var(--bg-subtle); }\n        .accordion-body.open { max-height: 3000px; }\n        .chevron { color: var(--text-light); transition: transform 0.3s; font-size: 10px; margin-right: 12px; display: inline-block; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid var(--text-secondary); }\n        .chevron::before { content: none !important; }\n        .chevron.open { transform: rotate(180deg); }\n\n        /* Products Header */\n        .products-header {\n            display: grid;\n            grid-template-columns: 2fr 1fr 1fr 0.8fr 0.8fr 0.8fr 40px;\n            gap: 8px;\n            padding: 10px 24px;\n            background: var(--bg-subtle);\n            border-bottom: 2px solid var(--border-light);\n            font-size: 11px;\n            font-weight: 600;\n            color: var(--text-secondary);\n            text-transform: uppercase;\n        }\n        .ph-name { text-align: right; }\n        .ph-number, .ph-accumulation, .ph-fee, .ph-yield { text-align: center; }\n\n        /* Product Row - Grid Layout */\n        .product-row {\n            display: grid;\n            grid-template-columns: 2fr 1fr 1fr 0.8fr 0.8fr 0.8fr 40px;\n            gap: 8px;\n            padding: 14px 24px;\n            align-items: center;\n            border-bottom: 1px solid var(--border-light);\n            background: var(--bg-card);\n            cursor: pointer;\n        }\n        .product-row:hover { background: var(--bg-subtle); }\n        .product-info { display: flex; align-items: center; gap: 10px; }\n        .company-logo { width: 32px; height: 32px; border-radius: 8px; display: flex; align-items: center; justify-content: center; color: #fff; font-size: 11px; font-weight: 700; flex-shrink: 0; }\n        .product-name { font-weight: 600; color: var(--text-main); font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }\n        .product-number { text-align: center; font-size: 12px; color: var(--text-light); }\n        .product-accumulation { text-align: center; font-weight: 700; color: var(--brand-primary); font-size: 14px; }\n        .product-fee { text-align: center; font-size: 12px; color: var(--text-secondary); }\n        .product-yield { text-align: center; font-size: 13px; font-weight: 600; }\n\n        .track-container { padding: 16px 24px; }\n        .track-row { display: flex; align-items: center; padding: 12px 16px; background: #fff; border: 1px solid var(--border-light); border-radius: var(--radius); margin-bottom: 8px; cursor: pointer; }\n        .track-title { flex: 1; }\n        .track-row:hover { border-color: var(--brand-primary); }\n        .track-row.has-alert { border-right: 3px solid var(--warning); }\n        .alert-icon { color: var(--warning); margin-left: 8px; font-size: 14px; animation: pulse 2s infinite; }\n        @keyframes pulse { 0%, 100% { opacity: 1; } 50% { opacity: 0.5; } }\n        .track-title h5 { font-size: 14px; font-weight: 600; color: var(--text-main); }\n        .track-sub { font-size: 12px; color: var(--text-secondary); }\n        .mini-stat { text-align: center; padding: 0 16px; min-width: 80px; }\n        .mini-val { font-weight: 700; font-size: 14px; }\n        .mini-label { font-size: 10px; color: var(--text-light); text-transform: uppercase; }\n\n        .track-details { padding: 16px; background: #f8fafc; border-radius: var(--radius); margin-top: 8px; }\n        .metrics-strip { display: flex; gap: 12px; flex-wrap: wrap; margin-bottom: 16px; }\n        .metric-box { background: #fff; padding: 12px 16px; border-radius: 6px; border: 1px solid var(--border-light); flex: 1; min-width: 120px; }\n        .metric-box .label { font-size: 10px; color: var(--text-light); text-transform: uppercase; margin-bottom: 4px; }\n        .metric-box .val { font-size: 16px; font-weight: 700; color: var(--brand-primary); }\n\n        .efficiency-dots { display: flex; gap: 3px; }\n        .efficiency-dots span { font-size: 12px; color: var(--border-light); }\n        .efficiency-dots span::before { content: ''; }\n        .efficiency-dots span.fill { color: var(--brand-accent); }\n\n        .alt-table-wrapper { background: #fff; border: 1px solid var(--border-light); border-radius: var(--radius); overflow: hidden; }\n        .alt-table-header { background: var(--bg-subtle); padding: 10px 16px; font-size: 12px; font-weight: 700; color: var(--brand-primary); border-bottom: 1px solid var(--border-light); }\n        .alt-table { width: 100%; border-collapse: collapse; font-size: 13px; }\n        .alt-table th { background: var(--bg-subtle); padding: 10px 12px; text-align: right; font-weight: 600; color: var(--text-secondary); font-size: 11px; text-transform: uppercase; }\n        .alt-table td { padding: 12px; border-bottom: 1px solid var(--border-light); }\n        .alt-table tr:last-child td { border-bottom: none; }\n        .badge-rec { display: inline-block; background: var(--positive-bg); color: var(--positive); font-size: 10px; font-weight: 700; padding: 2px 6px; border-radius: 4px; margin-right: 6px; }\n\n        /* Pension Coverage Box - Icon Cards Design */\n        .pension-coverage-box {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 12px;\n            margin: 16px;\n        }\n        .coverage-card {\n            display: flex;\n            align-items: center;\n            gap: 12px;\n            padding: 14px 16px;\n            border-radius: 12px;\n            background: #fff;\n            border: 1px solid var(--border-light);\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        .coverage-card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n        }\n        .coverage-icon {\n            width: 48px;\n            height: 48px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            flex-shrink: 0;\n        }\n        .salary-card .coverage-icon { background: linear-gradient(135deg, #dbeafe, #bfdbfe); color: #1d4ed8; }\n        .disability-card .coverage-icon { background: linear-gradient(135deg, #fce7f3, #fbcfe8); color: #be185d; }\n        .survivors-card .coverage-icon { background: linear-gradient(135deg, #fef3c7, #fde68a); color: #d97706; }\n        .deposit-card .coverage-icon { background: linear-gradient(135deg, #d1fae5, #a7f3d0); color: #059669; }\n        .coverage-content {\n            flex: 1;\n            min-width: 0;\n        }\n        .coverage-label {\n            font-size: 11px;\n            color: var(--text-secondary);\n            margin-bottom: 2px;\n            font-weight: 500;\n        }\n        .coverage-value {\n            font-size: 18px;\n            font-weight: 800;\n            color: var(--text-main);\n            white-space: nowrap;\n        }\n        .coverage-value .unit {\n            font-size: 11px;\n            font-weight: 400;\n            color: var(--text-light);\n            margin-right: 2px;\n        }\n        .coverage-sub {\n            font-size: 10px;\n            color: var(--text-light);\n            margin-top: 2px;\n        }\n\n        /* Pension Projection Box */\n        .pension-projection-box {\n            display: flex;\n            align-items: center;\n            gap: 16px;\n            background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%);\n            border: 1px solid #fcd34d;\n            border-radius: 12px;\n            padding: 20px 24px;\n            margin: 16px;\n        }\n        .projection-icon {\n            width: 56px;\n            height: 56px;\n            border-radius: 50%;\n            background: #fbbf24;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: #78350f;\n            flex-shrink: 0;\n        }\n        .projection-content {\n            flex: 1;\n        }\n        .projection-text {\n            font-size: 14px;\n            color: #78350f;\n            line-height: 1.6;\n        }\n        .projection-amount {\n            font-size: 28px;\n            font-weight: 800;\n            color: #92400e;\n            margin-top: 8px;\n        }\n        .projection-amount span {\n            font-size: 14px;\n            font-weight: 400;\n            color: #a16207;\n        }\n        .projection-couple {\n            color: #b45309;\n            opacity: 0.6;\n            flex-shrink: 0;\n        }\n\n        /* Pension Book Icon */\n        .pension-book-icon {\n            display: inline-flex;\n            align-items: center;\n            justify-content: center;\n            width: 24px;\n            height: 24px;\n            border-radius: 6px;\n            background: linear-gradient(135deg, #dbeafe, #bfdbfe);\n            color: #1d4ed8;\n            cursor: pointer;\n            transition: all 0.2s;\n            margin-right: 8px;\n            flex-shrink: 0;\n        }\n        .pension-book-icon:hover {\n            background: linear-gradient(135deg, #bfdbfe, #93c5fd);\n            transform: scale(1.1);\n        }\n\n        /* Pension Modal */\n        .pension-modal {\n            display: none;\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: rgba(0, 0, 0, 0.5);\n            z-index: 1000;\n            align-items: center;\n            justify-content: center;\n        }\n        .pension-modal.open {\n            display: flex;\n        }\n        .pension-modal-content {\n            background: #fff;\n            border-radius: 16px;\n            width: 90%;\n            max-width: 500px;\n            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);\n            overflow: hidden;\n        }\n        .modal-header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 20px 24px;\n            background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%);\n            color: #fff;\n        }\n        .modal-header h3 {\n            font-size: 18px;\n            font-weight: 700;\n            margin: 0;\n        }\n        .modal-close {\n            background: rgba(255,255,255,0.2);\n            border: none;\n            color: #fff;\n            width: 32px;\n            height: 32px;\n            border-radius: 8px;\n            font-size: 20px;\n            cursor: pointer;\n            transition: background 0.2s;\n        }\n        .modal-close:hover {\n            background: rgba(255,255,255,0.3);\n        }\n        .modal-body {\n            padding: 24px;\n        }\n        .modal-grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 16px;\n        }\n        .modal-item {\n            padding: 16px;\n            background: var(--bg-subtle);\n            border-radius: 12px;\n            text-align: center;\n        }\n        .modal-label {\n            font-size: 12px;\n            color: var(--text-secondary);\n            margin-bottom: 8px;\n        }\n        .modal-value {\n            font-size: 20px;\n            font-weight: 800;\n            color: var(--brand-primary);\n        }\n\n        /* Insurance Track Box */\n        .insurance-track-box {\n            background: linear-gradient(135deg, #eff6ff 0%, #dbeafe 100%);\n            border: 1px solid #bfdbfe;\n            border-radius: 12px;\n            padding: 16px 20px;\n            margin-bottom: 20px;\n        }\n        .insurance-track-label {\n            font-size: 13px;\n            font-weight: 700;\n            color: #1e40af;\n            margin-bottom: 12px;\n        }\n        .insurance-track-items {\n            display: flex;\n            gap: 16px;\n            flex-wrap: wrap;\n        }\n        .insurance-track-item {\n            display: flex;\n            align-items: center;\n            gap: 6px;\n            background: #fff;\n            padding: 8px 14px;\n            border-radius: 20px;\n            box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n        }\n        .track-percent {\n            font-size: 16px;\n            font-weight: 800;\n            color: #1d4ed8;\n        }\n        .track-type {\n            font-size: 12px;\n            color: #64748b;\n        }\n\n        .floating-footer { position: fixed; bottom: 24px; left: 50%; transform: translateX(-50%); background: #fff; padding: 10px 10px; border-radius: 50px; box-shadow: 0 10px 25px -5px rgba(0,0,0,0.1); display: flex; gap: 8px; z-index: 100; border: 1px solid var(--border-light); }\n        .btn { border: none; padding: 10px 24px; border-radius: 24px; font-family: inherit; font-size: 14px; font-weight: 600; cursor: pointer; transition: all 0.2s; display: flex; align-items: center; gap: 8px; }\n        .btn-ghost { background: transparent; color: var(--text-secondary); }\n        .btn-ghost:hover { background: var(--bg-subtle); color: var(--text-main); }\n        .btn-primary { background: var(--brand-primary); color: #fff; }\n        .btn-primary:hover { background: #020617; transform: translateY(-1px); }\n\n        /* ========== MOBILE RESPONSIVE ========== */\n        @media (max-width: 768px) {\n            /* Base */\n            body { padding: 0 8px; }\n            .container { padding: 0 12px; }\n            .container-narrow, .container-wide { max-width: 100%; padding: 0 12px; }\n\n            /* Cover Page */\n            .cover-section { padding: 30px 0; min-height: auto; }\n            .cover-header { margin-bottom: 30px; padding-bottom: 20px; }\n            .cover-title { font-size: 26px; }\n            .cover-subtitle { font-size: 14px; }\n            .content-grid { grid-template-columns: 1fr; gap: 20px; margin-bottom: 30px; }\n            .text-section h2 { font-size: 16px; }\n            .text-section p { font-size: 13px; }\n            .highlight-box { font-size: 12px; padding: 12px; }\n\n            /* Chart */\n            .chart-section { padding: 16px 12px; }\n            .chart-title { font-size: 15px; }\n            .chart-legend { gap: 10px; }\n            .chart-legend .legend-item { font-size: 10px; }\n\n            /* Nav Boxes */\n            .nav-boxes { flex-direction: column; gap: 12px; margin-top: 24px; }\n            .nav-box { padding: 16px; min-width: auto; }\n            .nav-box-icon { font-size: 22px; margin-bottom: 10px; }\n            .nav-box-title { font-size: 15px; }\n            .nav-box-desc { font-size: 12px; }\n\n            /* Header Card */\n            .header-card { padding: 14px 0; margin-bottom: 16px; }\n            .header-content { flex-direction: column; gap: 12px; text-align: center; }\n            .brand-text h1 { font-size: 16px; }\n            .brand-icon-box { width: 36px; height: 36px; font-size: 16px; }\n            .client-info-box { text-align: center; }\n            .client-name-lg { font-size: 15px; }\n\n            /* Dashboard Summary */\n            .summary-header { padding: 18px 14px; }\n            .total-label { font-size: 10px; }\n            .total-amount { font-size: 24px; }\n            .total-sub { font-size: 12px; }\n            .gauges-row { flex-direction: column; gap: 20px; padding: 16px 10px; }\n            .gauge-item .gauge-wrapper { width: 70px; height: 70px; }\n            .gauge-item .gauge-value { font-size: 16px; }\n            .gauge-item .gauge-label { font-size: 11px; }\n            .gauge-item .gauge-sub { font-size: 10px; }\n\n            /* Category Cards */\n            .category-header { padding: 14px 12px; }\n            .cat-icon { width: 32px; height: 32px; font-size: 13px; border-radius: 8px; }\n            .cat-main { gap: 10px; }\n            .cat-title h3 { font-size: 13px; }\n            .cat-meta { font-size: 11px; }\n            .cat-stats { align-items: flex-end; }\n            .amount { font-size: 14px; }\n            .yield { font-size: 11px; padding: 2px 6px; }\n\n            /* Products Header - hide on mobile */\n            .products-header { display: none; }\n\n            /* Product Row - Mobile layout */\n            .product-row {\n                display: flex !important;\n                flex-direction: column !important;\n                padding: 12px !important;\n                gap: 6px !important;\n            }\n            .product-info {\n                display: flex;\n                align-items: center;\n                width: 100%;\n                margin-bottom: 6px;\n            }\n            .product-name { font-size: 13px; flex: 1; }\n            .company-logo { width: 26px; height: 26px; font-size: 9px; }\n            .pension-book-icon { width: 20px; height: 20px; }\n\n            /* Product details row */\n            .product-policy, .product-accumulation, .product-fee, .product-yield {\n                font-size: 11px !important;\n            }\n            .product-row > div:not(.product-info):not(.chevron) {\n                display: inline-block;\n                margin-left: 12px;\n            }\n            .product-row > div:not(.product-info)::before {\n                font-size: 9px;\n                color: var(--text-light);\n                margin-left: 2px;\n            }\n            .product-accumulation::before { content: '爪专: '; }\n            .product-yield::before { content: '转砖: '; }\n            .product-fee::before { content: '状: '; }\n\n            /* Track Row */\n            .track-row {\n                padding: 10px 12px !important;\n                flex-wrap: wrap;\n            }\n            .track-main {\n                width: 100%;\n                flex-direction: column;\n                align-items: flex-start;\n                gap: 6px;\n            }\n            .track-info { font-size: 12px; }\n            .track-stats {\n                width: 100%;\n                justify-content: flex-start;\n                gap: 12px;\n                margin-top: 6px;\n                flex-wrap: wrap;\n            }\n            .stat-item { font-size: 10px; }\n            .stat-value { font-size: 12px; }\n\n            /* Recommendation Box */\n            .recommendation-box { padding: 10px; margin: 8px; }\n            .rec-header { font-size: 11px; gap: 6px; }\n            .alt-tracks-list { gap: 6px; }\n            .alt-track-item { padding: 8px 10px; font-size: 11px; }\n            .alt-yield { font-size: 10px; padding: 2px 6px; }\n\n            /* Floating Footer */\n            .floating-footer {\n                bottom: 8px;\n                padding: 6px 8px;\n                gap: 4px;\n                width: calc(100% - 16px);\n                max-width: none;\n                border-radius: 24px;\n            }\n            .btn { padding: 8px 14px; font-size: 11px; gap: 4px; }\n\n            /* Pension Modal */\n            .pension-modal-content { width: 95%; max-width: none; margin: 8px; }\n            .modal-header { padding: 14px 16px; }\n            .modal-header h3 { font-size: 15px; }\n            .modal-body { padding: 14px; }\n            .modal-grid { grid-template-columns: 1fr 1fr; gap: 10px; }\n            .modal-item { padding: 10px; }\n            .modal-label { font-size: 10px; }\n            .modal-value { font-size: 16px; }\n\n            /* Pension Projection Box */\n            .pension-projection-box {\n                flex-direction: column;\n                text-align: center;\n                padding: 14px;\n                gap: 10px;\n            }\n            .projection-icon { width: 44px; height: 44px; }\n            .projection-icon svg { width: 24px; height: 24px; }\n            .projection-text { font-size: 12px; }\n            .projection-amount { font-size: 22px; }\n            .projection-couple { display: none; }\n\n            /* Insurance Track Box */\n            .insurance-track-box { padding: 12px 14px; margin-bottom: 14px; }\n            .insurance-track-label { font-size: 12px; margin-bottom: 10px; }\n            .insurance-track-items { gap: 6px; }\n            .insurance-track-item { padding: 6px 10px; }\n            .track-percent { font-size: 13px; }\n            .track-type { font-size: 10px; }\n        }\n\n        /* Extra small devices (phones in portrait) */\n        @media (max-width: 480px) {\n            .cover-title { font-size: 22px; }\n            .total-amount { font-size: 20px; }\n            .pension-coverage-box { grid-template-columns: 1fr; }\n            .modal-grid { grid-template-columns: 1fr; }\n            .gauge-item .gauge-wrapper { width: 60px; height: 60px; }\n            .gauge-item .gauge-value { font-size: 14px; }\n            .product-name { font-size: 12px; }\n            .cat-title h3 { font-size: 12px; }\n            .amount { font-size: 13px; }\n            .insurance-track-items { flex-direction: column; }\n            .insurance-track-item { justify-content: center; }\n        }\n\n        @media print {\n            body { background: #fff; padding: 0; }\n            .floating-footer { display: none; }\n            .no-print { display: none; }\n            .cover-section { min-height: auto; padding: 40px 0; }\n            .accordion-body { max-height: none !important; }\n            .page-break { page-break-before: always; }\n        }\n    </style>\n</head>\n<body>\n\n    <!-- COVER PAGE -->\n    <div class=\"cover-section\">\n        <div class=\"container container-narrow\">\n            <header class=\"cover-header\">\n                <div class=\"logo-icon\"><i class=\"fas fa-chart-pie\"></i></div>\n                <div class=\"date-badge\">${currentMonth}</div>\n                <h1 class=\"cover-title\">住拽专 砖转 转 转拽</h1>\n                <div class=\"cover-subtitle\">${customerName}, 转. ${customerId}</div>\n            </header>\n\n            <div class=\"content-grid\">\n                <div class=\"text-section\">\n                    <h2>转 砖拽 </h2>\n                    <p>砖拽  砖专 砖 爪  转 砖 专, 注 注转 专  .  转\" 125 专砖 注 砖 -3.2%, 注  S&P 500 专拽 住祝 -2.8%.</p>\n                    <div class=\"highlight-box\">\n                        <i class=\"fas fa-lightbulb\"></i> <strong>砖专 转转:</strong> 住 转 转转 砖 拽 转,  抓 砖专 注 专   爪 转.\n                    </div>\n                </div>\n\n                <div class=\"text-section\">\n                    <h2>转  转拽 砖</h2>\n                    <p>${firstName}, 砖 转拽 住  砖 注 注 <strong>${formatCurrency(grandTotal)}</strong> 注 转砖 砖 <strong class=\"text-green\">+${totalWeightedYield.toFixed(1)}%</strong> 转转 砖.</p>\n                    <p>转拽 砖 砖专 注 砖驻 转转 砖 -<strong>${avgExpTotal.toFixed(0)}%</strong>. ${customerAge ? ` (${customerAge}), 砖驻 爪转   <strong>${recommendedExposure.min}%-${recommendedExposure.max}%</strong> (驻专驻 ${recommendedExposure.label}).` : ''}</p>\n                    ${customerAge ? `<div class=\"highlight-box\" style=\"margin-top: 12px;\">\n                        <i class=\"fas fa-user-clock\"></i> <strong>爪 砖转:</strong> ${recommendedExposure.description}. ${recommendedExposure.rule}.\n                    </div>` : ''}\n                </div>\n            </div>\n\n            <div class=\"chart-section\">\n                <div class=\"chart-header\">\n                    <div class=\"chart-title\">爪注 爪专 转转 砖 (YTD)</div>\n                </div>\n                <div class=\"line-chart-container\">\n                    <svg class=\"line-chart\" viewBox=\"0 0 500 200\" preserveAspectRatio=\"xMidYMid meet\">\n                        <line x1=\"50\" y1=\"20\" x2=\"480\" y2=\"20\" stroke=\"#e2e8f0\" stroke-dasharray=\"4\"/>\n                        <line x1=\"50\" y1=\"60\" x2=\"480\" y2=\"60\" stroke=\"#e2e8f0\" stroke-dasharray=\"4\"/>\n                        <line x1=\"50\" y1=\"100\" x2=\"480\" y2=\"100\" stroke=\"#e2e8f0\" stroke-dasharray=\"4\"/>\n                        <line x1=\"50\" y1=\"140\" x2=\"480\" y2=\"140\" stroke=\"#e2e8f0\" stroke-dasharray=\"4\"/>\n                        <line x1=\"50\" y1=\"180\" x2=\"480\" y2=\"180\" stroke=\"#e2e8f0\"/>\n                        \n                        <text x=\"40\" y=\"25\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"end\">15%</text>\n                        <text x=\"40\" y=\"65\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"end\">10%</text>\n                        <text x=\"40\" y=\"105\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"end\">5%</text>\n                        <text x=\"40\" y=\"145\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"end\">0%</text>\n                        \n                        <text x=\"70\" y=\"195\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"middle\">壮</text>\n                        <text x=\"140\" y=\"195\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"middle\">专抓</text>\n                        <text x=\"210\" y=\"195\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"middle\"></text>\n                        <text x=\"280\" y=\"195\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"middle\"></text>\n                        <text x=\"350\" y=\"195\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"middle\">住驻壮</text>\n                        <text x=\"420\" y=\"195\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"middle\">壮</text>\n                        <text x=\"470\" y=\"195\" fill=\"#94a3b8\" font-size=\"10\" text-anchor=\"middle\"></text>\n                        \n                        <defs>\n                            <linearGradient id=\"gradPension\" x1=\"0%\" y1=\"0%\" x2=\"0%\" y2=\"100%\">\n                                <stop offset=\"0%\" stop-color=\"#1e3a8a\"/><stop offset=\"100%\" stop-color=\"#1e3a8a\" stop-opacity=\"0\"/>\n                            </linearGradient>\n                            <linearGradient id=\"gradGemel\" x1=\"0%\" y1=\"0%\" x2=\"0%\" y2=\"100%\">\n                                <stop offset=\"0%\" stop-color=\"#dc2626\"/><stop offset=\"100%\" stop-color=\"#dc2626\" stop-opacity=\"0\"/>\n                            </linearGradient>\n                            <linearGradient id=\"gradHish\" x1=\"0%\" y1=\"0%\" x2=\"0%\" y2=\"100%\">\n                                <stop offset=\"0%\" stop-color=\"#7c3aed\"/><stop offset=\"100%\" stop-color=\"#7c3aed\" stop-opacity=\"0\"/>\n                            </linearGradient>\n                            <linearGradient id=\"gradInvest\" x1=\"0%\" y1=\"0%\" x2=\"0%\" y2=\"100%\">\n                                <stop offset=\"0%\" stop-color=\"#059669\"/><stop offset=\"100%\" stop-color=\"#059669\" stop-opacity=\"0\"/>\n                            </linearGradient>\n                        </defs>\n                        \n                        <path d=\"M70,140 L140,125 L210,115 L280,95 L350,80 L420,65 L470,52 L470,180 L70,180 Z\" fill=\"url(#gradPension)\" opacity=\"0.3\"/>\n                        <path d=\"M70,140 L140,130 L210,120 L280,100 L350,85 L420,70 L470,58 L470,180 L70,180 Z\" fill=\"url(#gradGemel)\" opacity=\"0.3\"/>\n                        <path d=\"M70,140 L140,128 L210,118 L280,98 L350,82 L420,68 L470,55 L470,180 L70,180 Z\" fill=\"url(#gradHish)\" opacity=\"0.3\"/>\n                        <path d=\"M70,140 L140,122 L210,110 L280,88 L350,72 L420,58 L470,45 L470,180 L70,180 Z\" fill=\"url(#gradInvest)\" opacity=\"0.3\"/>\n                        \n                        <polyline points=\"70,140 140,125 210,115 280,95 350,80 420,65 470,52\" fill=\"none\" stroke=\"#1e3a8a\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n                        <polyline points=\"70,140 140,130 210,120 280,100 350,85 420,70 470,58\" fill=\"none\" stroke=\"#dc2626\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n                        <polyline points=\"70,140 140,128 210,118 280,98 350,82 420,68 470,55\" fill=\"none\" stroke=\"#7c3aed\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n                        <polyline points=\"70,140 140,122 210,110 280,88 350,72 420,58 470,45\" fill=\"none\" stroke=\"#059669\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n                        \n                        <circle cx=\"470\" cy=\"52\" r=\"5\" fill=\"#1e3a8a\"/>\n                        <circle cx=\"470\" cy=\"58\" r=\"5\" fill=\"#dc2626\"/>\n                        <circle cx=\"470\" cy=\"55\" r=\"5\" fill=\"#7c3aed\"/>\n                        <circle cx=\"470\" cy=\"45\" r=\"5\" fill=\"#059669\"/>\n                    </svg>\n                    \n                    <div class=\"chart-legend\">\n                        <div class=\"legend-item\"><span class=\"legend-dot\" style=\"background: #1e3a8a;\"></span>驻住 <strong>+${categoryYields['驻住'] || '0'}%</strong></div>\n                        <div class=\"legend-item\"><span class=\"legend-dot\" style=\"background: #dc2626;\"></span> <strong>+${categoryYields[''] || '0'}%</strong></div>\n                        <div class=\"legend-item\"><span class=\"legend-dot\" style=\"background: #7c3aed;\"></span>砖转转 <strong>+${categoryYields['砖转转'] || '0'}%</strong></div>\n                        <div class=\"legend-item\"><span class=\"legend-dot\" style=\"background: #059669;\"></span>砖拽注转 专转 <strong>+${categoryYields['砖拽注转 专转'] || '0'}%</strong></div>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"nav-boxes\">\n                <div class=\"nav-box\" onclick=\"scrollToReport()\">\n                    <div class=\"nav-box-icon\"><i class=\"fas fa-chart-pie\"></i></div>\n                    <div class=\"nav-box-title\"> 驻住</div>\n                    <div class=\"nav-box-desc\">驻住, , 砖转转 砖拽注转</div>\n                </div>\n                <div class=\"nav-box\" onclick=\"scrollToInsurance()\">\n                    <div class=\"nav-box-icon\"><i class=\"fas fa-shield-alt\"></i></div>\n                    <div class=\"nav-box-title\"> </div>\n                    <div class=\"nav-box-desc\">专转, 住注  </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"page-break\"></div>\n\n    <!-- DETAILED REPORT -->\n    <div id=\"detailed-report\" class=\"report-section\">\n        <div class=\"container container-wide\">\n\n            <header class=\"header-card\">\n                <div class=\"container header-content\">\n                    <div class=\"brand\">\n                        <div class=\"brand-icon-box\"><i class=\"fas fa-chart-pie\"></i></div>\n                        <div class=\"brand-text\">\n                            <h1>Portfolio Expert</h1>\n                            <p> 注砖专 驻住</p>\n                        </div>\n                    </div>\n                    <div class=\"client-info-box\">\n                        <div class=\"client-name-lg\">${customerName}</div>\n                        <div class=\"report-date-sm\"> 爪  -${currentDate}</div>\n                    </div>\n                </div>\n            </header>\n\n            <section class=\"dashboard-summary\">\n                <div class=\"summary-header\">\n                    <div class=\"total-value\">\n                        <div class=\"total-label\">砖 转拽 </div>\n                        <div class=\"total-amount\">${formatCurrency(grandTotal)}</div>\n                        <div class=\"total-sub\"><span class=\"text-green\"><i class=\"fas fa-arrow-up\"></i> +${totalWeightedYield.toFixed(1)}%</span> 转转 砖</div>\n                    </div>\n                </div>\n                <div class=\"gauges-row\">\n                    <div class=\"gauge-item\">\n                        <div class=\"gauge-wrapper\">\n                            <svg class=\"gauge-svg\" viewBox=\"0 0 100 100\">\n                                <circle class=\"gauge-bg\" cx=\"50\" cy=\"50\" r=\"42\"></circle>\n                                <circle class=\"gauge-fill\" cx=\"50\" cy=\"50\" r=\"42\" style=\"stroke-dashoffset: ${gaugeExpOffset.toFixed(0)}; stroke: var(--brand-primary);\"></circle>\n                            </svg>\n                            <div class=\"gauge-value\">${avgExpTotal.toFixed(0)}%</div>\n                        </div>\n                        <div class=\"gauge-label\">砖驻 转</div>\n                        <div class=\"gauge-sub\">注 : ${recommendedExposure.max}%</div>\n                    </div>\n                    <div class=\"gauge-item\">\n                        <div class=\"gauge-wrapper\">\n                            <svg class=\"gauge-svg\" viewBox=\"0 0 100 100\">\n                                <circle class=\"gauge-bg\" cx=\"50\" cy=\"50\" r=\"42\"></circle>\n                                <circle class=\"gauge-fill\" cx=\"50\" cy=\"50\" r=\"42\" style=\"stroke-dashoffset: ${gaugeHoniOffset.toFixed(0)}; stroke: var(--color-gemel);\"></circle>\n                            </svg>\n                            <div class=\"gauge-value\">${avgExpHoni.toFixed(0)}%</div>\n                        </div>\n                        <div class=\"gauge-label\">砖驻 住 </div>\n                        <div class=\"gauge-sub\">砖转转 砖拽注转</div>\n                    </div>\n                    <div class=\"gauge-item\">\n                        <div class=\"gauge-wrapper\">\n                            <svg class=\"gauge-svg\" viewBox=\"0 0 100 100\">\n                                <circle class=\"gauge-bg\" cx=\"50\" cy=\"50\" r=\"42\"></circle>\n                                <circle class=\"gauge-fill\" cx=\"50\" cy=\"50\" r=\"42\" style=\"stroke-dashoffset: ${gaugeKitzbaOffset.toFixed(0)}; stroke: var(--color-pension);\"></circle>\n                            </svg>\n                            <div class=\"gauge-value\">${avgExpKitzba.toFixed(0)}%</div>\n                        </div>\n                        <div class=\"gauge-label\">砖驻 住 拽爪转</div>\n                        <div class=\"gauge-sub\">驻住 </div>\n                    </div>\n                </div>\n            </section>\n\n            <div id=\"dashboard-container\" class=\"holdings-container\"></div>\n\n        </div>\n    </div>\n\n\n    <div class=\"floating-footer no-print\">\n        <button class=\"btn btn-ghost\" onclick=\"window.print()\"><i class=\"fas fa-print\"></i> 驻住</button>\n        <button class=\"btn btn-primary\" onclick=\"exportToExcel()\"><i class=\"fas fa-file-excel\"></i> 爪 拽住</button>\n    </div>\n\n    <script>\n        const COMPANY_URLS = ${JSON.stringify(COMPANY_URLS)};\n        const portfolioData = ${portfolioJson};\n        const categoryOrder = ${JSON.stringify(categoryOrder)};\n\n        const formatCurrency = num => new Intl.NumberFormat('he-IL', { style: 'currency', currency: 'ILS', maximumFractionDigits: 0 }).format(num || 0);\n        const formatPercent = num => (num !== null && num !== undefined && !isNaN(num)) ? num.toFixed(1) + '%' : '-';\n        const calcEfficiency = (y, exp) => (!exp || exp === 0 || !y) ? 0 : ((y / exp) * 10).toFixed(1);\n\n        function getStarRating(score) {\n            const s = parseFloat(score);\n            let stars = '';\n            for (let i = 1; i <= 5; i++) {\n                stars += i <= Math.round(s) ? '<span class=\"fill\"></span>' : '<span></span>';\n            }\n            return stars;\n        }\n\n        function getCategoryIcon(catName) {\n            const icons = {\n                '驻住': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M12 2L2 7l10 5 10-5-10-5z\"/><path d=\"M2 17l10 5 10-5\"/><path d=\"M2 12l10 5 10-5\"/></svg>',\n                '': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M19 5c-1.5 0-2.8 1.4-3 2-3.5-1.5-11-.3-11 5 0 1.8 0 3 2 4.5V20h4v-2h3v2h4v-4c1-.5 1.7-1 2-2h2v-4h-2c0-1-.5-1.5-1-2z\"/><path d=\"M2 9v1c0 1.1.9 2 2 2h1\"/></svg>',\n                '砖转转': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M22 10v6M2 10l10-5 10 5-10 5z\"/><path d=\"M6 12v5c0 2 2 3 6 3s6-1 6-3v-5\"/></svg>',\n                '砖拽注转 专转': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><circle cx=\"12\" cy=\"12\" r=\"8\"/><path d=\"M12 8v8\"/><path d=\"M8 12h8\"/></svg>',\n                ' ': '<svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"2\"><path d=\"M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z\"/></svg>'\n            };\n            return icons[catName] || icons['砖拽注转 专转'];\n        }\n\n        function getCategoryColor(catName) {\n            const colors = {\n                '驻住': 'linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%)',\n                '': 'linear-gradient(135deg, #dc2626 0%, #f87171 100%)',\n                '砖转转': 'linear-gradient(135deg, #7c3aed 0%, #a78bfa 100%)',\n                '砖拽注转 专转': 'linear-gradient(135deg, #059669 0%, #34d399 100%)',\n                ' ': 'linear-gradient(135deg, #0891b2 0%, #22d3ee 100%)'\n            };\n            return colors[catName] || colors['砖拽注转 专转'];\n        }\n\n        function getFallbackColor(name) {\n            const n = name || '';\n            if (n.includes('驻拽住') || n.includes('驻拽住')) return '#f97316';\n            if (n.includes('')) return '#4f46e5';\n            if (n.includes('专')) return '#2563eb';\n            if (n.includes('')) return '#0d9488';\n            if (n.includes('')) return '#0891b2';\n            if (n.includes('砖专')) return '#16a34a';\n            if (n.includes('专')) return '#9333ea';\n            if (n.includes('住')) return '#0284c7';\n            if (n.includes('专')) return '#e11d48';\n            if (n.includes('')) return '#d97706';\n            return '#475569';\n        }\n\n        function getCompanyLoginUrl(name) {\n            for (const [key, url] of Object.entries(COMPANY_URLS)) {\n                if (name && name.includes(key)) return url;\n            }\n            return '#';\n        }\n\n        function cleanName(name, companyName) {\n            if (!name) return '';\n            let cleaned = name;\n            if (companyName) {\n                cleaned = cleaned.replace(new RegExp(companyName, 'gi'), '');\n                const companyFirstWord = companyName.split(' ')[0];\n                if (companyFirstWord) cleaned = cleaned.replace(new RegExp(companyFirstWord, 'gi'), '');\n            }\n            cleaned = cleaned.replace(/注\"/g, ' ').replace(/-/g, ' ').replace(/\\\\s+/g, ' ').trim();\n            return cleaned.length > 2 ? cleaned : name;\n        }\n\n        function toggle(id) {\n            const el = document.getElementById(id);\n            const chevron = document.getElementById('chevron-' + id);\n            const isOpening = el && !el.classList.contains('open');\n\n            // Determine what level we're toggling\n            const isProduct = id.includes('-prod-');\n            const isCategory = id.startsWith('cat-') && !isProduct;\n\n            // Close same-level accordions only\n            document.querySelectorAll('.accordion-body.open').forEach(function(openEl) {\n                const openId = openEl.id;\n                const openIsProduct = openId.includes('-prod-') && !openId.includes('-t');\n                const openIsCategory = openId.startsWith('cat-') && !openId.includes('-prod-');\n                const openIsTrack = openId.includes('-t');\n\n                // If clicking a product, close other products and tracks (but not categories)\n                if (isProduct && (openIsProduct || openIsTrack)) {\n                    openEl.classList.remove('open');\n                    var chev = document.getElementById('chevron-' + openId);\n                    if (chev) chev.classList.remove('open');\n                }\n                // If clicking a category, close other categories (and their children)\n                else if (isCategory && openIsCategory) {\n                    openEl.classList.remove('open');\n                    var chev = document.getElementById('chevron-' + openId);\n                    if (chev) chev.classList.remove('open');\n                }\n            });\n\n            // Now open the clicked one if it was closed\n            if (isOpening && el) {\n                el.classList.add('open');\n                if (chevron) chevron.classList.add('open');\n            }\n        }\n\n        function toggleTrack(id) {\n            const el = document.getElementById(id);\n            const isOpening = el && !el.classList.contains('open');\n\n            // Close only other tracks (not products or categories)\n            document.querySelectorAll('.accordion-body.open').forEach(function(openEl) {\n                if (openEl.id.includes('-t')) {\n                    openEl.classList.remove('open');\n                    var chevron = document.getElementById('chevron-' + openEl.id);\n                    if (chevron) chevron.classList.remove('open');\n                }\n            });\n\n            // Now open the clicked one if it was closed\n            if (isOpening && el) {\n                el.classList.add('open');\n                var chevron = document.getElementById('chevron-' + id);\n                if (chevron) chevron.classList.add('open');\n            }\n        }\n\n        function toggleInsuranceTrack(id) {\n            const el = document.getElementById(id);\n            const chevron = document.getElementById('chevron-ins-' + id);\n            if (el) el.classList.toggle('open');\n            if (chevron) chevron.classList.toggle('open');\n        }\n\n        function showPensionModal(modalId) {\n            const modal = document.getElementById(modalId);\n            if (modal) modal.classList.add('open');\n            event.stopPropagation();\n        }\n\n        function closePensionModal(modalId) {\n            const modal = document.getElementById(modalId);\n            if (modal) modal.classList.remove('open');\n            event.stopPropagation();\n        }\n\n        function renderPensionBookIcon(product, prodId) {\n            if (!product.pensionData) return '';\n\n            const pd = product.pensionData;\n            const survivorTotal = (pd.kitzbaLeAlman || 0) + (pd.kitzbaLeYetom || 0);\n            const modalId = 'pension-modal-' + prodId;\n\n            // Book icon + Modal (with projection box inside)\n            return \\`\n                <span class=\"pension-book-icon\" onclick=\"showPensionModal('\\${modalId}'); event.stopPropagation();\" title=\"抓    注 拽专 驻住 砖\">\n                    <svg width=\"18\" height=\"18\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                        <path d=\"M2 3h6a4 4 0 014 4v14a3 3 0 00-3-3H2zM22 3h-6a4 4 0 00-4 4v14a3 3 0 013-3h7z\"/>\n                    </svg>\n                </span>\n                <!-- Pension Modal with Projection -->\n                <div id=\"\\${modalId}\" class=\"pension-modal\" onclick=\"closePensionModal('\\${modalId}')\">\n                    <div class=\"pension-modal-content\" onclick=\"event.stopPropagation()\">\n                        <div class=\"modal-header\">\n                            <h3>驻专 拽专 驻住</h3>\n                            <button class=\"modal-close\" onclick=\"closePensionModal('\\${modalId}')\">&times;</button>\n                        </div>\n                        <div class=\"modal-body\">\n                            <!-- Projection Box inside modal -->\n                            <div class=\"pension-projection-box\" style=\"margin: 0 0 20px 0;\">\n                                <div class=\"projection-icon\">\n                                    <svg width=\"32\" height=\"32\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                                        <path d=\"M9 18h6M10 22h4M12 2v1M4.22 4.22l.71.71M1 12h1M4.22 19.78l.71-.71M12 17a5 5 0 100-10 5 5 0 000 10z\"/>\n                                    </svg>\n                                </div>\n                                <div class=\"projection-content\">\n                                    <div class=\"projection-text\">\n                                        转 转 转 砖专  砖 <strong>\\${formatCurrency(pd.insuredSalary)}</strong>,\n                                        拽爪转 驻住  砖  <strong>\\${pd.retirementAge}</strong> 注转 注:\n                                    </div>\n                                    <div class=\"projection-amount\">\\${formatCurrency(pd.kitzbatZiknaKolelPremiot)}<span>/砖</span></div>\n                                </div>\n                                <div class=\"projection-couple\">\n                                    <svg width=\"48\" height=\"48\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\">\n                                        <circle cx=\"9\" cy=\"7\" r=\"3\"/>\n                                        <circle cx=\"15\" cy=\"7\" r=\"3\"/>\n                                        <path d=\"M5 21v-2a4 4 0 014-4h2M15 15a4 4 0 014 4v2M12 15v6\"/>\n                                    </svg>\n                                </div>\n                            </div>\n                            <!-- Insurance Track -->\n                            <div class=\"insurance-track-box\">\n                                <div class=\"insurance-track-label\">住 </div>\n                                <div class=\"insurance-track-items\">\n                                    <div class=\"insurance-track-item\">\n                                        <span class=\"track-percent\">\\${(pd.disabilityCoverage * 100).toFixed(0)}%</span>\n                                        <span class=\"track-type\">转</span>\n                                    </div>\n                                    <div class=\"insurance-track-item\">\n                                        <span class=\"track-percent\">\\${(pd.partnerCoverage * 100).toFixed(0)}%</span>\n                                        <span class=\"track-type\">砖专 /转 </span>\n                                    </div>\n                                    <div class=\"insurance-track-item\">\n                                        <span class=\"track-percent\">\\${(pd.orphanCoverage * 100).toFixed(0)}%</span>\n                                        <span class=\"track-type\">砖专 转</span>\n                                    </div>\n                                </div>\n                            </div>\n                            <!-- Detail cards -->\n                            <div class=\"modal-grid\">\n                                <div class=\"modal-item\">\n                                    <div class=\"modal-label\">砖专 </div>\n                                    <div class=\"modal-value\">\\${formatCurrency(pd.insuredSalary)}</div>\n                                </div>\n                                <div class=\"modal-item\">\n                                    <div class=\"modal-label\">拽爪转 转</div>\n                                    <div class=\"modal-value\">\\${formatCurrency(pd.kitzbatNehut)}/砖</div>\n                                </div>\n                                <div class=\"modal-item\">\n                                    <div class=\"modal-label\">拽爪转 砖专</div>\n                                    <div class=\"modal-value\">\\${formatCurrency(survivorTotal)}/砖</div>\n                                </div>\n                                <div class=\"modal-item\">\n                                    <div class=\"modal-label\">驻拽 专</div>\n                                    <div class=\"modal-value\">\\${formatCurrency(pd.lastDepositAmount)}</div>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            \\`;\n        }\n\n        function scrollToReport() {\n            document.getElementById('detailed-report').scrollIntoView({ behavior: 'smooth' });\n        }\n\n        function scrollToInsurance() {\n            document.getElementById('insurance-report').scrollIntoView({ behavior: 'smooth' });\n        }\n\n        function exportToExcel() {\n            let excelData = [[\" 转拽 拽\", \"${customerName}\"], [\"转专\", new Date().toLocaleDateString('he-IL')], []];\n            categoryOrder.forEach(cat => {\n                if (portfolioData[cat] && portfolioData[cat].length > 0) {\n                    excelData.push([cat]);\n                    excelData.push([\"爪专\", \"砖 爪专\", \"住驻专 砖\", \"转专 爪专\", \"住\", \"拽 住\", \"转专 住\", \"转砖 YTD\", \"转砖 3 砖\", \"砖驻\", \" \"]);\n                    portfolioData[cat].forEach(p => {\n                        p.tracks.forEach(t => {\n                            excelData.push([\n                                p.companyName, p.productName, p.productNumber, p.totalAccumulation,\n                                t.trackName, t.trackId || '-', t.trackAccumulation,\n                                (t.marketData.ytdYield || '-') + '%', (t.marketData.return3Y || '-') + '%',\n                                (t.marketData.stockExposure || '-') + '%', (t.fee || '-') + '%'\n                            ]);\n                        });\n                    });\n                    excelData.push([]);\n                }\n            });\n            const ws = XLSX.utils.aoa_to_sheet(excelData);\n            const wb = XLSX.utils.book_new();\n            XLSX.utils.book_append_sheet(wb, ws, \"Portfolio\");\n            XLSX.writeFile(wb, \"Portfolio_Report.xlsx\");\n        }\n\n        function renderDashboard() {\n            const container = document.getElementById('dashboard-container');\n            let html = '';\n            let catIndex = 0;\n\n            categoryOrder.forEach(cat => {\n                const products = portfolioData[cat];\n                if (products && products.length > 0) {\n                    const catTotal = products.reduce((s, p) => s + p.totalAccumulation, 0);\n                    let catYieldSum = 0, catAccSum = 0;\n                    products.forEach(p => {\n                        p.tracks.forEach(t => {\n                            catYieldSum += (t.trackAccumulation || 0) * (t.marketData?.ytdYield || 0);\n                            catAccSum += t.trackAccumulation || 0;\n                        });\n                    });\n                    const catYield = catAccSum > 0 ? (catYieldSum / catAccSum).toFixed(1) : 0;\n                    const catId = 'cat-' + catIndex++;\n\n                    html += \\`\n                        <div class=\"category-card\">\n                            <div class=\"category-header\" onclick=\"toggle('\\${catId}')\">\n                                <div class=\"cat-main\">\n                                    <div class=\"cat-icon\" style=\"background: \\${getCategoryColor(cat)};\">\n                                        \\${getCategoryIcon(cat)}\n                                    </div>\n                                    <div class=\"cat-title\">\n                                        <h3>\\${cat}</h3>\n                                        <div class=\"cat-meta\">\\${products.length} 爪专</div>\n                                    </div>\n                                </div>\n                                <div class=\"cat-stats\">\n                                    <span class=\"amount\">\\${formatCurrency(catTotal)}</span>\n                                    <span class=\"yield\">+\\${catYield}%</span>\n                                </div>\n                            </div>\n                            <div id=\"\\${catId}\" class=\"accordion-body\">\n                                <div class=\"products-header\">\n                                    <div class=\"ph-name\">砖 爪专</div>\n                                    <div class=\"ph-number\">住壮 拽驻</div>\n                                    <div class=\"ph-accumulation\">爪专</div>\n                                    <div class=\"ph-fee\">状 驻拽</div>\n                                    <div class=\"ph-fee\">状 爪专</div>\n                                    <div class=\"ph-yield\">转砖</div>\n                                </div>\n                    \\`;\n\n                    products.forEach((product, pIdx) => {\n                        const prodId = catId + '-prod-' + pIdx;\n                        const companyColor = getFallbackColor(product.companyName);\n                        const initials = (product.companyName || '??').substring(0, 2);\n                        const loginUrl = getCompanyLoginUrl(product.companyName);\n\n                        // Calculate weighted average yield for product\n                        let prodYieldSum = 0, prodAccSum = 0;\n                        product.tracks.forEach(t => {\n                            prodYieldSum += (t.trackAccumulation || 0) * (t.marketData?.ytdYield || 0);\n                            prodAccSum += t.trackAccumulation || 0;\n                        });\n                        const prodAvgYield = prodAccSum > 0 ? (prodYieldSum / prodAccSum) : 0;\n\n                        const bookIcon = cat === '驻住' ? renderPensionBookIcon(product, prodId) : '';\n\n                        html += \\`\n                            <div class=\"product-row\" onclick=\"toggle('\\${prodId}'); event.stopPropagation();\">\n                                <div class=\"product-info\">\n                                    <span class=\"company-logo\" style=\"background: \\${companyColor}\">\\${initials}</span>\n                                    \\${bookIcon}\n                                    <div class=\"product-name\">\\${product.productName}</div>\n                                </div>\n                                <div class=\"product-number\">\\${product.productNumber || '-'}</div>\n                                <div class=\"product-accumulation\">\\${formatCurrency(product.totalAccumulation)}</div>\n                                <div class=\"product-fee\">\\${product.depositFee.toFixed(2)}%</div>\n                                <div class=\"product-fee\">\\${product.accumulationFee.toFixed(3)}%</div>\n                                <div class=\"product-yield \\${prodAvgYield >= 0 ? 'text-green' : ''}\">\\${prodAvgYield >= 0 ? '+' : ''}\\${prodAvgYield.toFixed(1)}%</div>\n                                <i id=\"chevron-\\${prodId}\" class=\"chevron\"></i>\n                            </div>\n                            <div id=\"\\${prodId}\" class=\"accordion-body\">\n                                <div class=\"track-container\">\n                                    <div class=\"pension-section-header\" style=\"margin: 0 -24px 12px -24px; padding: 10px 24px;\">住 砖拽注</div>\n                        \\`;\n\n                        product.tracks.forEach((track, tIdx) => {\n                            const trackId = prodId + '-t' + tIdx;\n                            const ytd = track.marketData?.ytdYield || 0;\n                            const exposure = track.marketData?.stockExposure || 0;\n                            const efficiency = calcEfficiency(ytd, exposure);\n                            const hasAlert = track.hasAlert && track.top3Alternatives && track.top3Alternatives.length > 0;\n                            const alertIcon = hasAlert ? '<span class=\"alert-icon\" title=\"砖 爪 \"><i class=\"fas fa-lightbulb\"></i></span>' : '';\n\n                            html += \\`\n                                <div class=\"track-row \\${hasAlert ? 'has-alert' : ''}\" onclick=\"toggleTrack('\\${trackId}'); event.stopPropagation();\">\n                                    <div class=\"track-title\">\n                                        <h5>\\${alertIcon}\\${track.trackName}</h5>\n                                        <div class=\"track-sub\">\\${formatCurrency(track.trackAccumulation)}</div>\n                                    </div>\n                                    <div class=\"mini-stat\">\n                                        <div class=\"mini-val \\${ytd >= 0 ? 'text-green' : ''}\">\\${formatPercent(ytd)}</div>\n                                        <div class=\"mini-label\">转砖</div>\n                                    </div>\n                                    <div class=\"mini-stat\">\n                                        <div class=\"mini-val\">\\${exposure.toFixed(1)}%</div>\n                                        <div class=\"mini-label\">砖驻</div>\n                                    </div>\n                                    <i id=\"chevron-\\${trackId}\" class=\"chevron\"></i>\n                                </div>\n                                <div id=\"\\${trackId}\" class=\"accordion-body\">\n                                    <div class=\"track-details\">\n                                        <div class=\"metrics-strip\">\n                                            <div class=\"metric-box\"><div class=\"label\">转砖 YTD</div><div class=\"val \\${ytd >= 0 ? 'text-green' : ''}\">\\${formatPercent(ytd)}</div></div>\n                                            <div class=\"metric-box\"><div class=\"label\">转砖 3 砖</div><div class=\"val\">\\${track.marketData?.return3Y ? formatPercent(track.marketData.return3Y) : '-'}</div></div>\n                                            <div class=\"metric-box\"><div class=\"label\">砖驻 转</div><div class=\"val\">\\${exposure.toFixed(1)}%</div></div>\n                                            <div class=\"metric-box\"><div class=\"label\"> 注转</div><div class=\"val\">\\${efficiency} <span class=\"efficiency-dots\" style=\"display: inline-flex; vertical-align: middle; margin-right: 4px;\">\\${getStarRating(efficiency)}</span></div></div>\n                                        </div>\n                            \\`;\n\n                            if (hasAlert) {\n                                html += \\`\n                                    <div class=\"alt-table-wrapper\">\n                                        <div class=\"alt-table-header\">驻转 爪转 砖驻 </div>\n                                        <table class=\"alt-table\">\n                                            <thead><tr><th>砖 住</th><th>转砖</th><th>砖驻</th><th>注转</th></tr></thead>\n                                            <tbody>\n                                \\`;\n                                track.top3Alternatives.forEach(alt => {\n                                    const altEff = calcEfficiency(alt.yield, alt.exposure);\n                                    const altExp = typeof alt.exposure === 'number' ? alt.exposure.toFixed(1) : alt.exposure;\n                                    html += \\`\n                                        <tr>\n                                            <td><span class=\"badge-rec\">抓</span>\\${alt.name}</td>\n                                            <td class=\"text-green\">\\${formatPercent(alt.yield)}</td>\n                                            <td>\\${altExp}%</td>\n                                            <td>\\${altEff} <span class=\"efficiency-dots\" style=\"display: inline-flex; vertical-align: middle; margin-right: 4px;\">\\${getStarRating(altEff)}</span></td>\n                                        </tr>\n                                    \\`;\n                                });\n                                html += \\`\n                                            </tbody>\n                                        </table>\n                                    </div>\n                                    <div style=\"margin-top: 12px; text-align: left;\">\n                                        <a href=\"\\${loginUrl}\" target=\"_blank\" class=\"btn btn-primary\" style=\"display: inline-flex; font-size: 12px; padding: 8px 16px;\">\n                                            <i class=\"fas fa-external-link-alt\"></i> 砖 住\n                                        </a>\n                                    </div>\n                                \\`;\n                            }\n\n                            html += \\`\n                                    </div>\n                                </div>\n                            \\`;\n                        });\n\n                        html += \\`\n                                </div>\n                            </div>\n                        \\`;\n                    });\n\n                    html += \\`\n                            </div>\n                        </div>\n                    \\`;\n                }\n            });\n\n            container.innerHTML = html;\n        }\n\n        window.onload = renderDashboard;\n    </script>\n</body>\n</html>`;\n\nreturn { json: { htmlReport: html, customerInfo: data.customerInfo, stats: { grandTotal, totalWeightedYield, avgExpTotal } } };\n"
      },
      "id": "a005f9c0-2610-4ad3-a5f0-65b7bfc7fc14",
      "name": "Format HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        10304
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.htmlReport }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "23ae1eb1-978b-411d-be41-39a296abcdbe",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2928,
        10384
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== INSURANCE REPORT - Matching Pension Design =====\nconst inputData = $input.first().json;\nconst shuranceData = inputData.body || inputData;\nconst allProducts = shuranceData.body?.products || shuranceData.products || [];\n\n// Get customer name from top level\nconst customerName = inputData.customerName || shuranceData.customerName || '拽';\n\n// Filter ONLY 专转 and  groups\nconst insuranceProducts = allProducts.filter(p => {\n    const group = p.type?.group;\n    const hasCovers = p.covers && p.covers.length > 0;\n    const isInsuranceGroup = group === '专转' || group === '';\n    return hasCovers && isInsuranceGroup;\n});\n\n// Company ID mapping\nconst COMPANY_NAMES = {\n    1: '专',\n    12: '驻拽住',\n    15: '',\n    16: '砖专',\n    17: '专',\n    25: '专',\n    28: '',\n    48: '',\n    50: '',\n    51: '',\n    61: ' 砖专',\n    87: '转'\n};\n\nfunction formatCurrency(num) {\n    return new Intl.NumberFormat('he-IL', { style: 'currency', currency: 'ILS', maximumFractionDigits: 0 }).format(num || 0);\n}\n\nlet insuranceHtml = '';\n\nif (insuranceProducts.length > 0) {\n    // Build data structure: by insured -> by policy\n    const insuredMap = new Map();\n    let totalPremium = 0;\n    \n    insuranceProducts.forEach(product => {\n        const companyName = COMPANY_NAMES[product.companyId] || product.companyName || '专 ' + product.companyId;\n        const policyNumber = product.accountPolicyNumber || '-';\n        const productName = product.shemTohnit || '驻住';\n        const productGroup = product.type?.group || '';\n        \n        product.covers.forEach(cover => {\n            const insuredId = cover.insuredIdNumber || 'unknown';\n            const insuredTypeCode = cover.insuredType?.code || 99;\n            const insuredTypeDesc = cover.insuredType?.description || '';\n            \n            // Determine insured name\n            let insuredName = cover.insuredFullName;\n            if (!insuredName) {\n                if (insuredTypeCode === 1) insuredName = customerName;\n                else if (insuredTypeCode === 2) insuredName = '/转 ';\n                else insuredName = '/';\n            }\n            \n            const premium = cover.premia || 0;\n            totalPremium += premium;\n            \n            if (!insuredMap.has(insuredId)) {\n                insuredMap.set(insuredId, {\n                    id: insuredId,\n                    name: insuredName,\n                    typeCode: insuredTypeCode,\n                    typeDesc: insuredTypeDesc,\n                    policies: new Map(),\n                    totalPremium: 0\n                });\n            }\n            \n            const insured = insuredMap.get(insuredId);\n            if (cover.insuredFullName) insured.name = cover.insuredFullName;\n            insured.totalPremium += premium;\n            \n            // Group by policy\n            const policyKey = policyNumber + '_' + companyName;\n            if (!insured.policies.has(policyKey)) {\n                insured.policies.set(policyKey, {\n                    policyNumber,\n                    companyName,\n                    productName,\n                    productGroup,\n                    covers: [],\n                    totalPremium: 0\n                });\n            }\n            \n            const policy = insured.policies.get(policyKey);\n            policy.totalPremium += premium;\n            policy.covers.push({\n                type: cover.coverTypeDescription || '住',\n                description: cover.coverDescription || '',\n                amount: cover.insuranceAmount || 0,\n                premium\n            });\n        });\n    });\n    \n    // Sort: 专砖 (1) -> 砖 (2) ->  (3+)\n    const sortedInsured = Array.from(insuredMap.values()).sort((a, b) => {\n        if (a.typeCode === 1) return -1;\n        if (b.typeCode === 1) return 1;\n        if (a.typeCode === 2) return -1;\n        if (b.typeCode === 2) return 1;\n        return a.typeCode - b.typeCode;\n    });\n    \n    const policyCount = insuranceProducts.length;\n    \n    // Build tabs - insured first, summary last\n    let tabsHtml = '';\n    sortedInsured.forEach((ins, i) => {\n        const activeClass = i === 0 ? ' active' : '';\n        tabsHtml += '<div class=\"ins-tab' + activeClass + '\" data-tab=\"ins-' + i + '\">' + ins.name + '</div>';\n    });\n    tabsHtml += '<div class=\"ins-tab\" data-tab=\"summary\">住</div>';\n    \n    // Build per-insured content\n    let insuredContentHtml = '';\n    sortedInsured.forEach((ins, i) => {\n        const activeClass = i === 0 ? ' active' : '';\n        let policiesHtml = '';\n        \n        Array.from(ins.policies.values()).forEach((policy, pIdx) => {\n            const coversHtml = policy.covers.map(c => \n                '<div class=\"cover-item\">' +\n                '<span class=\"cover-name\">' + c.type + '</span>' +\n                '<span class=\"cover-amount\">' + (c.amount > 0 ? formatCurrency(c.amount) : '-') + '</span>' +\n                '<span class=\"cover-premium\">' + formatCurrency(c.premium) + '</span>' +\n                '</div>'\n            ).join('');\n            \n            policiesHtml += \n                '<div class=\"policy-accordion\">' +\n                '<div class=\"policy-header\" onclick=\"this.parentElement.classList.toggle(&#39;expanded&#39;)\">' +\n                '<div class=\"policy-info\">' +\n                '<span class=\"policy-company\">' + policy.companyName + '</span>' +\n                '<span class=\"policy-name\">' + policy.productName + '</span>' +\n                '<span class=\"policy-number\">驻住 ' + policy.policyNumber + '</span>' +\n                '</div>' +\n                '<div class=\"policy-total\">' + formatCurrency(policy.totalPremium) + '/砖</div>' +\n                '<i class=\"fas fa-chevron-down policy-arrow\"></i>' +\n                '</div>' +\n                '<div class=\"policy-content\">' +\n                '<div class=\"covers-header\"><span>住</span><span>住 </span><span>驻专</span></div>' +\n                coversHtml +\n                '</div>' +\n                '</div>';\n        });\n        \n        insuredContentHtml += \n            '<div id=\"tab-ins-' + i + '\" class=\"ins-content' + activeClass + '\">' +\n            '<div class=\"insured-header\">' +\n            '<span class=\"insured-name\">' + ins.name + '</span>' +\n            '<span class=\"insured-type\">' + ins.typeDesc + '</span>' +\n            '<span class=\"insured-total\">' + formatCurrency(ins.totalPremium) + '/砖</span>' +\n            '</div>' +\n            policiesHtml +\n            '</div>';\n    });\n    \n    // Build summary content\n    let summaryHtml = '<div id=\"tab-summary\" class=\"ins-content\">';\n    summaryHtml += '<div class=\"summary-grid\">';\n    sortedInsured.forEach((ins, i) => {\n        summaryHtml += \n            '<div class=\"summary-card\" onclick=\"switchInsTab(\\'ins-' + i + '\\')\">' +\n            '<div class=\"summary-avatar\">' + (ins.name || '?').charAt(0) + '</div>' +\n            '<div class=\"summary-info\">' +\n            '<div class=\"summary-name\">' + ins.name + '</div>' +\n            '<div class=\"summary-meta\">' + ins.typeDesc + ' | ' + ins.policies.size + ' 驻住转</div>' +\n            '</div>' +\n            '<div class=\"summary-total\">' + formatCurrency(ins.totalPremium) + '<small>/砖</small></div>' +\n            '</div>';\n    });\n    summaryHtml += '</div></div>';\n\n    insuranceHtml = `\n<div class=\"insurance-wrapper\">\n    <style>\n        .insurance-wrapper{font-family:'Assistant',sans-serif;direction:rtl;max-width:900px;margin:20px auto;padding:0 16px}\n        .ins-collapsed{background:#fff;border-radius:16px;padding:20px 24px;margin:0;display:flex;align-items:center;gap:16px;cursor:pointer;box-shadow:0 2px 8px rgba(0,0,0,.06);border:1px solid #e2e8f0;transition:all .2s}\n        .ins-collapsed:hover{box-shadow:0 4px 12px rgba(139,92,246,.15);border-color:#a78bfa}\n        .ins-collapsed-icon{width:48px;height:48px;border-radius:12px;background:linear-gradient(135deg,#8b5cf6,#a78bfa);display:flex;align-items:center;justify-content:center;color:#fff;font-size:20px}\n        .ins-collapsed-content{flex:1}.ins-collapsed-content h3{margin:0;font-size:18px;font-weight:700;color:#1e293b}.ins-collapsed-content p{margin:4px 0 0;font-size:13px;color:#64748b}\n        .ins-collapsed-arrow{color:#64748b;font-size:18px;transition:transform .2s}\n        \n        .ins-expanded{display:none;margin:0;background:#fff;border-radius:16px;box-shadow:0 2px 8px rgba(0,0,0,.06);overflow:hidden;max-width:100%}\n        .ins-expanded.show{display:block}\n        .ins-header-bar{padding:20px 24px;border-bottom:1px solid #e2e8f0;display:flex;justify-content:space-between;align-items:center}\n        .ins-header-bar h2{margin:0;font-size:20px;color:#1e293b;display:flex;align-items:center;gap:12px}\n        .ins-header-bar h2 i{color:#8b5cf6}\n        .ins-close{background:none;border:none;font-size:20px;color:#64748b;cursor:pointer;padding:8px}\n        \n        .ins-tabs{display:flex;gap:4px;padding:0 24px;border-bottom:1px solid #e2e8f0;overflow-x:auto}\n        .ins-tab{padding:14px 18px;font-size:14px;font-weight:600;color:#64748b;cursor:pointer;border-bottom:3px solid transparent;margin-bottom:-1px;white-space:nowrap;transition:all .2s}\n        .ins-tab:hover{color:#1e293b}.ins-tab.active{color:#8b5cf6;border-bottom-color:#8b5cf6}\n        \n        .ins-content{display:none;padding:20px 24px}.ins-content.active{display:block}\n        .insured-header{display:flex;align-items:center;gap:16px;padding-bottom:16px;border-bottom:1px solid #e2e8f0;margin-bottom:16px}\n        .insured-name{font-size:18px;font-weight:700;color:#1e293b}\n        .insured-type{font-size:13px;color:#64748b;background:#f1f5f9;padding:4px 12px;border-radius:20px}\n        .insured-total{margin-right:auto;font-size:18px;font-weight:700;color:#8b5cf6}\n        \n        .policy-accordion{border:1px solid #e2e8f0;border-radius:12px;margin-bottom:12px;overflow:hidden}\n        .policy-header{display:flex;align-items:center;gap:16px;padding:16px 20px;cursor:pointer;background:#fafafa;transition:background .2s}\n        .policy-header:hover{background:#f1f5f9}\n        .policy-info{flex:1;display:flex;flex-wrap:wrap;gap:8px 16px}\n        .policy-company{font-weight:700;color:#1e293b}\n        .policy-name{color:#64748b;font-size:13px}\n        .policy-number{color:#8b5cf6;font-size:13px}\n        .policy-total{font-weight:700;color:#1e293b;white-space:nowrap}\n        .policy-arrow{color:#64748b;transition:transform .2s}\n        .policy-accordion.expanded .policy-arrow{transform:rotate(180deg)}\n        .policy-content{display:none;padding:16px 20px;border-top:1px solid #e2e8f0;background:#fff}\n        .policy-accordion.expanded .policy-content{display:block}\n        .covers-header{display:grid;grid-template-columns:1fr 120px 100px;gap:12px;padding-bottom:8px;border-bottom:1px solid #e2e8f0;font-size:12px;color:#64748b;font-weight:600}\n        .cover-item{display:grid;grid-template-columns:1fr 120px 100px;gap:12px;padding:10px 0;border-bottom:1px solid #f1f5f9}\n        .cover-item:last-child{border-bottom:none}\n        .cover-name{font-weight:500;color:#1e293b}\n        .cover-amount{color:#64748b;text-align:center}\n        .cover-premium{font-weight:600;color:#8b5cf6;text-align:center}\n        \n        .summary-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(280px,1fr));gap:16px}\n        .summary-card{background:#fafafa;border-radius:12px;padding:16px 20px;display:flex;align-items:center;gap:12px;cursor:pointer;border:2px solid transparent;transition:all .2s}\n        .summary-card:hover{border-color:#8b5cf6;background:#fff}\n        .summary-avatar{width:44px;height:44px;border-radius:50%;background:linear-gradient(135deg,#8b5cf6,#a78bfa);display:flex;align-items:center;justify-content:center;color:#fff;font-size:18px;font-weight:700}\n        .summary-info{flex:1}.summary-name{font-weight:700;color:#1e293b}.summary-meta{font-size:12px;color:#64748b}\n        .summary-total{font-size:18px;font-weight:700;color:#1e293b}.summary-total small{font-size:11px;color:#64748b;font-weight:400}\n        \n        .ins-report-header{display:flex;align-items:center;gap:20px;padding:24px 28px;background:linear-gradient(135deg,#8b5cf6 0%,#7c3aed 100%);color:#fff}\n        .ins-brand{display:flex;align-items:center;gap:14px}\n        .ins-brand-icon{width:52px;height:52px;background:rgba(255,255,255,.2);border-radius:14px;display:flex;align-items:center;justify-content:center;font-size:24px}\n        .ins-brand-text h1{margin:0;font-size:22px;font-weight:700}.ins-brand-text p{margin:2px 0 0;font-size:13px;opacity:.85}\n        .ins-client-info{margin-right:auto;text-align:left}\n        .ins-client-name{font-size:18px;font-weight:700}.ins-report-date{font-size:12px;opacity:.8}\n        .ins-close{background:rgba(255,255,255,.15);border:none;width:36px;height:36px;border-radius:10px;color:#fff;cursor:pointer;font-size:16px;transition:background .2s}\n        .ins-close:hover{background:rgba(255,255,255,.25)}\n        \n        .ins-summary-bar{display:flex;justify-content:center;gap:48px;padding:20px;background:#f8fafc;border-bottom:1px solid #e2e8f0}\n        .ins-stat{text-align:center}\n        .ins-stat-value{font-size:24px;font-weight:700;color:#8b5cf6}\n        .ins-stat-label{font-size:12px;color:#64748b;margin-top:2px}\n    </style>\n    \n    <div class=\"ins-collapsed\" id=\"ins-toggle\" onclick=\"document.getElementById('ins-toggle').style.display='none';document.getElementById('ins-full').classList.add('show');\">\n        <div class=\"ins-collapsed-icon\"><i class=\"fas fa-shield-alt\"></i></div>\n        <div class=\"ins-collapsed-content\">\n            <h3>住 </h3>\n            <p>住\" ${formatCurrency(totalPremium)}/砖 | ${sortedInsured.length}  | ${policyCount} 驻住转</p>\n        </div>\n        <i class=\"fas fa-chevron-left ins-collapsed-arrow\"></i>\n    </div>\n    \n    <div class=\"ins-expanded\" id=\"ins-full\">\n        <div class=\"ins-report-header\">\n            <div class=\"ins-brand\">\n                <div class=\"ins-brand-icon\"><i class=\"fas fa-shield-alt\"></i></div>\n                <div class=\"ins-brand-text\">\n                    <h1>住 </h1>\n                    <p>住拽专转 驻住转 住</p>\n                </div>\n            </div>\n            <div class=\"ins-client-info\">\n                <div class=\"ins-client-name\">${customerName}</div>\n                <div class=\"ins-report-date\"> 注</div>\n            </div>\n            <button class=\"ins-close\" onclick=\"document.getElementById('ins-full').classList.remove('show');document.getElementById('ins-toggle').style.display='flex';\">\n                <i class=\"fas fa-times\"></i>\n            </button>\n        </div>\n        <div class=\"ins-summary-bar\">\n            <div class=\"ins-stat\">\n                <div class=\"ins-stat-value\">${formatCurrency(totalPremium)}</div>\n                <div class=\"ins-stat-label\">驻专 砖转</div>\n            </div>\n            <div class=\"ins-stat\">\n                <div class=\"ins-stat-value\">${sortedInsured.length}</div>\n                <div class=\"ins-stat-label\"></div>\n            </div>\n            <div class=\"ins-stat\">\n                <div class=\"ins-stat-value\">${policyCount}</div>\n                <div class=\"ins-stat-label\">驻住转</div>\n            </div>\n        </div>\n        <div class=\"ins-tabs\">${tabsHtml}</div>\n        ${insuredContentHtml}\n        ${summaryHtml}\n    </div>\n    \n    <script>\n        function switchInsTab(t){\n            document.querySelectorAll('.ins-tab').forEach(x=>x.classList.remove('active'));\n            document.querySelectorAll('.ins-content').forEach(x=>x.classList.remove('active'));\n            document.querySelector('[data-tab=\"'+t+'\"]').classList.add('active');\n            document.getElementById('tab-'+t).classList.add('active');\n        }\n        document.querySelectorAll('.ins-tab').forEach(t=>t.addEventListener('click',()=>switchInsTab(t.dataset.tab)));\n    </script>\n</div>`;\n}\n\nreturn { json: { insuranceHtml } };"
      },
      "id": "ins-report-node-001",
      "name": "Format Insurance Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        10600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine Pension HTML and Insurance HTML\nconsole.log('=== Combine Reports START ===');\nconst inputs = $input.all();\nconsole.log('Number of inputs:', inputs.length);\n\nlet pensionHtml = '';\nlet insuranceHtml = '';\n\ninputs.forEach((item, idx) => {\n    console.log('Input', idx, 'keys:', Object.keys(item.json));\n    if (item.json.htmlReport) {\n        pensionHtml = item.json.htmlReport;\n        console.log('Found pensionHtml, length:', pensionHtml.length);\n    }\n    if (item.json.insuranceHtml) {\n        insuranceHtml = item.json.insuranceHtml;\n        console.log('Found insuranceHtml, length:', insuranceHtml.length);\n    }\n});\n\n// Insert insurance HTML before closing body tag\nlet finalHtml = pensionHtml;\nif (insuranceHtml && pensionHtml) {\n    console.log('Merging pension and insurance HTML');\n    // Find the floating-footer and insert insurance before it\n    const footerIdx = pensionHtml.indexOf('<div class=\"floating-footer');\n    if (footerIdx > -1) {\n        finalHtml = pensionHtml.slice(0, footerIdx) + insuranceHtml + pensionHtml.slice(footerIdx);\n        console.log('Inserted before floating-footer');\n    } else {\n        // Fallback: insert before </body>\n        finalHtml = pensionHtml.replace('</body>', insuranceHtml + '</body>');\n        console.log('Inserted before </body>');\n    }\n} else {\n    console.log('Missing HTML - pension:', !!pensionHtml, 'insurance:', !!insuranceHtml);\n}\n\nconsole.log('Final HTML length:', finalHtml.length);\nconsole.log('=== Combine Reports END ===');\nreturn { json: { htmlReport: finalHtml } };"
      },
      "id": "combine-reports-node-001",
      "name": "Combine Reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        10400
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "wait-both-node-001",
      "name": "Wait For Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2300,
        10400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Portfolio + Alerts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Insurance Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Portfolio + Alerts": {
      "main": [
        [
          {
            "node": "If Gemel Net Needed",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Pension Net Needed",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Bituach Net Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Gemel Net Needed": {
      "main": [
        [
          {
            "node": "Split Gemel Tracks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Pension Net Needed": {
      "main": [
        [
          {
            "node": "Split Pension Tracks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Bituach Net Needed": {
      "main": [
        [
          {
            "node": "Split Bituach Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Gemel Tracks": {
      "main": [
        [
          {
            "node": "Gemel Net API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pension Tracks": {
      "main": [
        [
          {
            "node": "Pension Net API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Bituach Tracks": {
      "main": [
        [
          {
            "node": "Bituach Net API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemel Net API": {
      "main": [
        [
          {
            "node": "Parse Gemel Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pension Net API": {
      "main": [
        [
          {
            "node": "Parse Pension Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bituach Net API": {
      "main": [
        [
          {
            "node": "Parse Bituach Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemel Results": {
      "main": [
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pension Results": {
      "main": [
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Market Data": {
      "main": [
        [
          {
            "node": "Analyze Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Performance": {
      "main": [
        [
          {
            "node": "Format HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML Report": {
      "main": [
        [
          {
            "node": "Wait For Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bituach Results": {
      "main": [
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Insurance Report": {
      "main": [
        [
          {
            "node": "Wait For Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait For Both": {
      "main": [
        [
          {
            "node": "Combine Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Reports": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5ad94d08-ca3a-44ec-a7fb-53941b6ea0ab",
  "meta": {
    "instanceId": "a67fb24ecbe47c6e08c2fdf5ea395bdba57595d4c3709dd5131ed1819ad339bf"
  },
  "id": "UJ2lOlifq2oTYL86oosPC",
  "tags": []
}